{% load static %}
<div class="d-flex justify-content-between">
    <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link" href="https://www.anssi.lu" target="_blank">
                <img class="img-fluid" src="{% static 'images/logo-ANSSI.png' %}" width="320px"
                     title="{{ _('A service provided by ANSSI.LU') }}"
                     alt="{{ _('A service provided by ANSSI.LU') }}" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://nc3.lu" target="_blank" rel="noopener noreferrer">
                <img class="img-fluid" src="{% static 'images/logo-nc3-full.png' %}" width="220px"
                     title="{{ _('A service provided by NC3-LU') }}"
                     alt="{{ _('A service provided by NC3-LU') }}" />
            </a>
        </li>
    </ul>
    <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stats' %}" title="{{ _('Stats') }}" alt="{{ _('Stats') }}">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'terms' %}" title="{{ _('Terms of Service') }}" alt="{{ _('Terms of Service') }}">Terms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://lhc.lu" target="_blank" rel="noopener noreferrer">Copyright {% now "Y" %} Luxembourg House of Cybersecurity</a>
        </li>
    </ul>
</div>
