{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-questions.css" %}" />

    <script type="text/javascript" src="{% static "survey/js/qrcode.min.js" %}"></script>
    <script type="text/javascript" src="{% static "survey/js/survey-questions.js" %}"></script>
    <script type="text/javascript" src="{% static "survey/js/survey-review.js" %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row px-4">
        <h3 class="col-12">{{ _('Your answers review') }}</h3>
        <div class="row col-12">
            <p class="col-10 pt-2 ">
                {{ _('You can modify the answers to each question before you get the result of the survey.')}}
            </p>
            <form action="{{ action }}" method="post" class="form col-2">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="{{ _('Validate answers') }}">
            </form>
        </div>
        <div class="col-12">
            <ol class="pt-2">
                {% for question_index, question_answers in questions_with_user_answers.items %}
                    <li class="h5"><h5 id="question-{{ question_index }}">{{ question_answers.question_title | safe }}</h5>
                        <ul class="h6">
                            {% for user_answer in question_answers.user_answers %}
                                {% if user_answer.content != '' %}
                                    <p class="pt-2 text-justify">
                                         {{ user_answer.content }}
                                    </p>
                                {% else %}
                                <li class="{% if user_answer.value == '1' %}font-weight-bold{% else %}disabled text-muted font-weight-light{% endif %}"
                                style="{% if user_answer.value == '1' %}list-style-type:disc{% endif %}">
                                {{ user_answer.title | safe }}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% if question_answers.feedback != '' %}
                        <p class="text-muted pt-2 pl-4 small">
                             <span class="font-weight-bold">
                                 {{ _('Your feedback') }}:
                             </span>
                             {{ question_answers.feedback }}
                        </p>
                    {% endif %}
                    <div class="p-3">
                        <button class="btn btn-light border border-rounded modify-question" data-question="{{ question_index }}">
                            {{ _('Modify answers') }}
                        </button>
                    </div>
                {% endfor %}
            </ol>
        </div>

        <div class="row col-12 pb-4">
            <div class="col-10">
                <button class="btn btn-light border border-rounded" type="button" name="continue-later" data-toggle="modal" data-target="#modal">
                    {{ _('Continue later') }}
                </button>
            </div>
            <div class="col-2">
                <form action="{{ action }}" method="post" class="form">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="{{ _('Validate answers') }}">
                </form>
            </div>
        </div>
    </div>


    {% include 'survey/continue.html' %}
    {% include 'survey/leaveSurvey.html' %}
{% endblock %}
