@page {
  size: A4; /* Change from the default size of A4 */
  margin: 2.5cm; /* Set margin on each page */
}
p, li, div {
  margin-bottom: 10px;
}
h1{font-size:26px; margin-bottom: 40px;}
h2{font-size:24px;}
h3{font-size:22px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}
.imgLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul.ba {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
