{% extends 'survey/bootstrap.html' %}

{% load i18n %}

{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}
    <meta name="description" content="Fit4Cybersecurity by CASES.LU" />
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/custom.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/custom.css' %}" />
    <link rel="stylesheet" href="/static/npm_components/fork-awesome/css/fork-awesome.min.css">
    <!--[if IE]>
    <style type="text/css">
        #ie-warning { display:block; }
        #content-body { display: none; }
    </style>
    <![endif]-->
{% endblock %}

{% block title %}
    {{ _('Fitcyber4Africa a CASES self-assessment tool!') }}
{% endblock %}

{% block bootstrap4_content %}

    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-cssk-blue">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdmin"></div>
                        <a class="dropdown-item" href="/admin/statistics" title="Dashboard">Statistics</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin" title="Dashboard">Django Administration</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout/" title="Log out"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="border-bottom border-primary">
                    <h1><a href="/" class="logo-link"><img src="{% static 'images/logoFull-en.png' %}" width="50%" alt="Fitcyber4Africa"></a></h1>
                </div>
            </div>
        </div>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        <div id="content-body">
            {% block content %}{% endblock %}
        </div>

        <div id="ie-warning">
            <h4>Your web browser (Internet Explorer) is not compatible.</h4>
            <p>Please, change your browser to continue the security assesment on our website.</p>
            <p>Recommended browsers:</p>
            <ul id="browsers-list">
                <li class="bc"><a href="https://www.google.com/chrome/" target="_blank">Chrome</a></li>
                <li class="bf"><a href="https://www.mozilla.org/firefox/new/" target="_blank">Firefox</a></li>
                <li class="bs"><a href="https://support.apple.com/downloads/safari" target="_blank">Safari</a></li>
                <li class="be"><a href="https://www.microsoft.com/edge" target="_blank">Edge</a></li>
                <li class="bo"><a href="https://www.opera.com/download" target="_blank">Opera</a></li>
            </ul>
        </div>

    </div>

    <div class="footer d-none d-md-block">
        <div class="d-flex justify-content-between">
            <ul class="nav flex-column flex-sm-row">
                <li class="nav-item">

                    <a class="nav-link" href="https://www.cyber4africa.org" target="_blank">
                        <img class="img-fluid" src="{% static 'images/logo-ACRC.png' %}" width="32px"
                        title="{{ _('A service provided by ACRC') }}"
                        alt="{{ _('A service provided by ACRC') }}" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/CASES-LU/Fit4Cybersecurity" target="_blank">
                        <img class="img-fluid" src="{% static 'images/github-9-512.png' %}" width="32px"
                        title="{{ _('Source code on GitHub') }}"
                        alt="{{ _('Source code on GitHub') }}" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ version_url }}" title="{{ _('Version of Fit4Cybersecurity') }}" alt="{{ _('Version of Fit4Cybersecurity') }}" target="_blank">
                        {{ app_version }}
                    </a>
                </li>
            </ul>
            <ul class="nav flex-column flex-sm-row">
                <li class="nav-item">
                    <a class="nav-link" href="/terms" title="{{ _('Terms of service') }}" alt="{{ _('Terms of Service') }}">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://securitymadein.lu" target="_blank">Copyright © 2019-{% now "Y" %} - SECURITYMADEIN.LU</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
