{% extends 'survey/bootstrap.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% load staticfiles %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/custom.css" %}" />
{% endblock %}

{% block title %}
    {{ _('Fit4Cybersecurity a CASES self-assessment tool!') }}
{% endblock %}

{% block bootstrap4_content %}
    <div class="container">
        <div class="row">
            <div class="col d-none d-md-block text-center">
                <div class="border-bottom border-primary">
                    <h1><a href="/"><img src="{% static _('images/logoFull-en.png') %}" width="75%" alt="Fit4Cybersecurity"></a></h1>
                </div>
            </div>
        </div>
        <!-- <div>
        {% block langselect %}{% endblock %}
        </div> -->

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <div class="d-flex justify-content-between">
            <ul class="nav flex-column flex-sm-row">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.cases.lu" target="_blank">
                        <img class="img-fluid" src="{% static _('images/logo-CASES.png') %}" width="32px"
                        title="A service provided by CASES.LU"
                        alt="A service provided by CASES.LU" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/CASES-LU/CybersecurityStarterKit" target="_blank">
                        <img class="img-fluid" src="{% static _('images/github-9-512.png') %}" width="32px"
                        title="Source code on GitHub"
                        alt="Source code on GitHub" />
                    </a>
                </li>
            </ul>
            <ul class="nav flex-column d-none d-md-block">
                <li class="nav-item">
                    <a class="nav-link" href="/terms" title="Terms of this service." alt="Terms of Service">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://securitymadein.lu" target="_blank">Copyright © 2019 Security made in Lëtzebuerg g.i.e.</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
