{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load static %}
{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-questions.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/Chart.css" %}" />

    <script type="text/javascript" src="{% static "survey/js/qrcode.min.js" %}"></script>
    <script type="text/javascript" src="{% static "survey/js/Chart.bundle.min.js" %}"></script>

    <script type="text/javascript" src="{% static "survey/js/survey-questions.js" %}"></script>
    <script type="text/javascript" src="{% static "survey/js/send-email.js" %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="float-right mx-4 my-2 p-2 border rounded border-primary bg-bright-blue" styles="width: 200px">
        <div class="text-center">
            <h3>
                {% if txtscore < 50 %}
                    <span class="font-weight-bold text-danger">{{ txtscore }}</span>
                {% elif txtscore < min_acceptable_score %}
                    <span class="font-weight-bold text-warning">{{ txtscore }}</span>
                {% else %}
                    <span class="font-weight-bold text-success">{{ txtscore }}</span>
                {% endif %}
                /100
            </h3>
            {% if user.country_code == 'LU' and custom.modules.requestTraining %}
                {% if txtscore >= min_acceptable_score and custom.modules.requestDiagnostic %}
                    <h5>{% include 'survey/requestDiagnosticLink.html' with type='button' %}</h5>
                {% endif %}
                <h5>{% include 'survey/requestTrainingLink.html' with type='button' %}</h5>
            {% endif %}
        </div>
        <div><h4>{{ translations.txtdownload }}:</h4></div>
        <div class="text-center py-2">
            <img src="{% static "images/reportLogo.png" %}" alt="DOC ICON">
        </div>
        <div class="text-center py-2">
            {% for lang in custom.languages %}
                <a href="{{ reportlink }}/{{ lang }}" class="p-1">
                    {% if custom.languages|length > 1 %}
                        <img class="flag" src="{% static 'images/flags/'|add:lang|add:'.svg' %}" alt="{{ lang }}">
                    {% else %}
                        {{ _('Report') }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="py-2 px-4">
        {% include 'survey/changeLang.html' %}

        <h2>{{ translations.txtreport }}:</h2>
        <div class="qrcode"></div>
        <p>{{ description }}</p>
        {% if user.country_code == 'LU' and custom.modules.requestTraining and txtscore < min_acceptable_score %}
            <p>{{ translations.request_training.description }}{% include 'survey/requestTrainingLink.html' with type='link' %}</p>
        {% endif %}

        <div class="py-2">
            <p class="continue-later-link">
                <button class="pl-0 btn btn-link" type="button" name="continue-later" data-toggle="modal" data-target="#modal">{{ translations.continue_later.button }}</button>
            </p>
        </div>
    </div>

    {% if user.country_code == 'LU' and custom.modules.requestDiagnostic and txtscore >= min_acceptable_score %}
        <div class="py-2 px-4">
            <h2>{{ translations.request_diagnostic.title }}:</h2>
            {{ translations.request_diagnostic.description }}<br />
            {{ translations.request_diagnostic.service_fee }}
            {% include 'survey/requestDiagnosticLink.html' with type='link' %}
        </div>
    {% endif %}

    {% if custom.modules.resultChart %}
        <div class="py-2 px-4 text-center">
            <div style="width: 450px; height: 450px; margin: 0 auto 0 auto"><canvas id="resultChart" width='100%' height='100%'></canvas></div>
            <script>
                var ctx = document.getElementById('resultChart');
                var labels = {{ chartTitles | safe }}
                var resultChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: '{{ chartlabelYou | safe }}',
                                fill: true,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                pointBackgroundColor: 'rgb(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(255, 99, 132)',
                                data: {{ chartdataYou | safe }},
                            }
                        ]
                    },
                    options: {
                        scale: {
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 100,
                            }
                        },
                        elements:{
                            line:{
                                tension: 0,
                                borderWidth: 3
                            }
                        },
                        title: {
                            display: false,
                        },
                        layout: {
                            padding: {
                                left: 5,
                                right: 5,
                                top: 5,
                                bottom: 5
                            }
                        }
                    }
                });
            </script>
        </div>
    {% endif %}

    <div class="py-2 px-4">
        {% for category, items in recommendations.items %}
            <h4>{{ category | safe }}</h4>
            <ol>
                {% for recommendation in items %}
                    <li>{{ recommendation | safe }}</li>
                {% endfor %}
            </ol>
        {% endfor %}
    </div>

    <div class="pb-4" style="text-align: center">
        <button class="btn btn-light border border-rounded" type="button" name="general-feedback" data-toggle="modal" data-target="#modal-feedback">{{ translations.general_feedback.button }}</button>
    </div>

    <div class="modal fade" tabindex="-2" role="dialog" id="modal-feedback" aria-labelledby="Fit4Cybersecurity Feedback" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <h4>{{ translations.general_feedback.title }}</h4>
            </div>
            <div class="modal-content">
                <form action="/survey/feedback" method="POST">
                    {% csrf_token %}

                    {% bootstrap_form general_feedback_form label_class="d-none" %}

                    <div class="content">
                        <button class="close-popup btn btn-link float-left" type="button" data-dismiss="modal">{{ translations.general_feedback.button_close }}</button>
                        <input type="submit" class="btn btn-primary float-right" value="{{ translations.general_feedback.button_send }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'survey/continue.html' %}
    {% include 'survey/leaveSurvey.html' %}

{% endblock %}
