{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load staticfiles %}
{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-questions.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/Chart.css" %}" />

    <script type="text/javascript" src="{% static "survey/js/survey-questions.js" %}"></script>
    <script type="text/javascript" src="{% static "survey/js/Chart.bundle.min.js" %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="float-right mx-4 my-2 p-2 border rounded border-primary bg-bright-blue" styles="width: 200px">
        <div class="text-center">
            <h3>
                {% if txtscore < 50 %}
                    <span class="font-weight-bold text-danger">{{ txtscore }}</span>
                {% elif txtscore < 80 %}
                    <span class="font-weight-bold text-warning">{{ txtscore }}</span>
                {% else %}
                    <span class="font-weight-bold text-success">{{ txtscore }}</span>
                {% endif %}
                /100
            </h3>
            {% if txtscore < min_acceptable_score %}
                <a href="mailto:info@cases.lu?subject=Diagnostic%20Request&amp;body=Dear&nbsp;Cases&nbsp;Team,&nbsp;&nbsp;We%20would%20like%20to%20request%20diagnostic%20for%20the%20following%20results&nbsp;&nbsp;{% if request.is_secure %}https{% else %}http{% endif %}&#58;&#47;&#47;{{ request.get_host }}&#47;survey&#47;resume&#47;{{userId }}">Request diagnostic</a>
            {% endif %}
        </div>
        <div><h4>{{ txtdownload }}:</h4></div>
        <div class="text-center py-2">
            <img src="{% static "images/reportLogo.png" %}" alt="DOC ICON">
        </div>
        <div class="text-center py-2">
            <a href="{{ reportlink }}/EN" class="p-1"><img src="{% static "images/flags/uk.png" %}" alt="EN"></a>
            <a href="{{ reportlink }}/FR" class="p-2"><img src="{% static "images/flags/fr.png" %}" alt="FR"></a>
            <a href="{{ reportlink }}/DE" class="p-2"><img src="{% static "images/flags/de.png" %}" alt="DE"></a>
        </div>

    </div>
    <div class="py-2 px-4">
        <h2>{{ txtreport }}:</h2>
        {{ description }}
    </div>
    <div class="py-2 px-4 text-center">
        <div style="width: 450px; height: 450px; margin: 0 auto 0 auto"><canvas id="resultChart" width='100%' height='100%'></canvas></div>
        <script>
            var ctx = document.getElementById('resultChart');
            var labels = {{ chartTitles | safe }}
            var resultChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: '{{ chartlabelYou | safe }}',
                            fill: true,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            pointBackgroundColor: 'rgb(255, 99, 132)',
                            pointBorderColor: '#fff',
                            pointHoverBackgroundColor: '#fff',
                            pointHoverBorderColor: 'rgb(255, 99, 132)',
                            data: {{ chartdataYou | safe }},
                        }, {
                            label: '{{ chartlabelMax | safe }}',
                            fill: true,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235)',
                            pointBackgroundColor: 'rgb(54, 162, 235)',
                            pointBorderColor: '#fff',
                            pointHoverBackgroundColor: '#fff',
                            pointHoverBorderColor: 'rgb(54, 162, 235)',
                            data: {{ chartdataMax | safe }},
                        }
                    ]
                },
                options: {
                    scale: {
                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: {{ chartMax | safe }},
                        }
                    },
                    elements:{
                        line:{
                            tension: 0,
                            borderWidth: 3
                        }
                    },
                    title: {
                        display: false,
                    },
                    layout: {
                        padding: {
                            left: 5,
                            right: 5,
                            top: 5,
                            bottom: 5
                        }
                    }
                }
            });
        </script>
    </div>
    <div class="py-2 px-4">
        <ol>
        {% for x in recommendations %}
            <li>{{ x | safe }}</li>
        {% endfor %}
        </ol>
    </div>

    <button class="btn btn-link" type="button" name="continue-later" data-toggle="modal" data-target="#modal" data-tooltip>{{ translations.continue_later.button }}</button>

    {% include 'survey/continue.html' %}

    {% include 'survey/leaveSurvey.html' %}

{% endblock %}
