<div class="modal fade" tabindex="-1" role="dialog" id="modal-leave-survey" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog leave-survey" role="document">
        <div class="modal-header">
            <h4>{{ translations.leave_survey.title }}</h4>
        </div>
        <div class="modal-content">
            <div class="content">
                <button class="btn btn-primary btn-lg" id="redirect-home">{{ translations.leave_survey.yes }}</button>
                <span class="p-3"></span>
                <button class="btn btn-primary btn-lg" data-dismiss="modal">{{ translations.leave_survey.no }}</button>
            </div>
        </div>
    </div>
</div>
