{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load staticfiles %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-questions.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-questions.js" %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="border rounded border-primary m-2 p-3 bg-bright-blue">
        <div class="card-title">{{ question }}</div>

        <form action="{{ action }}" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            <div>
                {% buttons %}
                    <div class="d-flex flex-row justify-content-between">
                        <button class="btn btn-link" type="button" name="continue-later" data-toggle="modal" data-target="#modal" data-tooltip>{{ translations.continue_later.button }}</button>
                        <input class="btn btn-primary" type="submit" value="{{ translations.next_button }}">
                    </div>
                {% endbuttons %}
            </div>
        </form>
    </div>

    {% include 'survey/continue.html' %}
{% endblock %}