{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load staticfiles %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-questions.css" %}" />
    {% if 'question' in action %}
        <script type="text/javascript" src="{% static "survey/js/survey-questions.js" %}"></script>
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if 'question' in action %}
        <div class="progress m-2" style="background-color: #C1CBD5; height: 30px;">
            <div class="progress-bar" role="progressbar" style="font-size: 1rem; width: {% widthratio current_question_num total_questions_num 100 %}%;" aria-valuenow="{% widthratio current_question_num total_questions_num 100 %}" aria-valuemin="0" aria-valuemax="100">{{ current_question_num }} of {{ total_questions_num }}</div>
        </div>
    {% endif %}
    <div class="m-2 p-3">
        <div class="card-title">{{ question }}</div>

        <form action="{{ action }}" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            <div>
                {% buttons %}
                    <div class="d-flex flex-row justify-content-between float-right">
                        <input class="btn btn-primary" type="submit" value="{{ translations.next_button }}">
                    </div>
                {% endbuttons %}
            </div>
        </form>
    </div>

    {% if 'question' in action %}
        <div class="spacer-50"></div>
        <div class="row">
            <div class="col">
                <button class="btn btn-link" type="button" name="continue-later" data-toggle="modal" data-target="#modal" data-tooltip>{{ translations.continue_later.button }}</button>
            </div>
        </div>

        {% include 'survey/continue.html' %}
        {% include 'survey/leaveSurvey.html' %}
    {% endif %}
{% endblock %}
