<div class="modal fade" tabindex="-1" role="dialog" id="modal-send-report" lang="{{ LANGUAGE_CODE }}" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <h4>
        {{ _('Send the report via email') }}
      </h4>
    </div>
    <div class="modal-content">
      <div class="content text-left">
        <div class="form-group">
          <input type="email" id="email-input" name="email-address" class="form-control" placeholder="Please enter your email address."  required>
        </div>
        <button class="btn btn-primary send-report-via-email">
          {{ _('Send') }}
        </button>
        <br />
        <p class="text-primary">{{ _("Your email address won't be stored.") }}</p>
      </div>
    </div>
  </div>
</div>
