{% extends 'survey/base.html' %}
{% load bootstrap4 %}
{% load apptags %}
{% load static %}
{% load countries %}
{% block bootstrap4_extra_head %}
{{ block.super }}
    <script type="text/javascript" src="/static/stats/js/github_contribution.js"></script>
    <link href="/static/stats/css/github_contribution_graph.css" media="all" rel="stylesheet">
    <script>
        var stats_options = "{{ stats_options | safe }}"
    </script>
{% endblock %}
{% block content_title %}
    <p class="lead" style="font-size: larger">
        {{ _('Some statistics about the current surveys.') }}
    </p>
{% endblock %}
{% block content %}
    {% if not first_survey_date %}
        <div class="text-center">
            <i class="bi bi-x-circle text-warning" style="font-size: 12rem"></i>
            <h3>{{ _('No statistics available') }}</h3>
        </div>
    {% else %}
        <script type="text/javascript" src="/static/npm_components/chart.js/dist/chart.min.js"></script>
        <script type="text/javascript" src="/static/npm_components/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
        <script type="text/javascript" src="{% static "stats/js/stats.js" %}"></script>
        <link href="/static/stats/css/stats.css" media="all" rel="stylesheet">
        <div class="row">
            <div class="col">
                <h4>{{ _('Main figures') }}</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ _('Number of surveys:') }} {{ nb_surveys }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Number of finished surveys:') }} {{ nb_finished_surveys }}
                    </li>
                    <li class="list-group-item">
                        {{ _('First completed survey on:') }} {{ first_survey_date }}
                    </li>
                </ul>
            </div>
        </div>
        {% if custom.stats.activity %}
            <div class="w-100 p-4"></div>
            <div class="row justify-content-center">
                <div class="col mx-auto text-center">
                    <h4>
                        {{ _('Activity over the past year') }}
                    </h4>
                    <div id="spinner-surveys-activity" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    <div id="surveys-activity"></div>
                  </div>
            </div>
            <div class="w-100 p-2"></div>
            <div class="row">
              <div class="col mx-auto text-center">
                <p>{{ _('Click on a date to load stats since this day or use the list below.') }}</p>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-2">
                    {{ _('Less') }}&nbsp;
                    {% for i in range %}
                        <svg width="10" height="10" class="d-inline-block activity-chart-legend">
                            <rect width="10" height="10" class="activity-chart-legend_{{i}}"></rect>
                        </svg>
                    {% endfor %}
                    {{ _('More') }}
                </div>
                <div class="col-3">
                    <label for="section_displayTimeFrame">{{ _('Time frame')}}</label>
                    <select id="section_displayTimeFrame">
                        <option value=""></option>
                        {% for time_frame in time_frames %}
                            <option value="{{ time_frame.1 }}">{{ time_frame.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <a class="btn border border-rounded" type="button"  href="{% url 'stats' %}">
                        {{ _('Reset filters') }}
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="w-100 p-4"></div>
        <h4 class="text-center">{{ _('Statistics since') }} {{ date_from }}</h4>
        <h5 class="text-center">{{ _('Total of completed surveys:') }} {{ nb_finished_surveys_for_period }}</h5>
        <div class="w-100 p-4"></div>
        <div class="row justify-content-center">
            {% if custom.stats.sector %}
                <div class="col-4">
                    <h4 class="text-center">
                        {{ _('Surveys company sector') }}
                    </h4>
                    <div id="spinner-stats-sector" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    {% if nb_finished_surveys_for_period == 0 %}
                        <div class="text-center">
                            <i class="bi bi-x-circle text-warning display-1"></i>
                            <p class="font-italic">{{ _('No statistics available') }}</p>
                        </div>
                    {% else %}
                        <canvas id="stats-sector"></canvas>
                    {% endif %}
                </div>
            {% endif %}
            {% if custom.stats.size %}
                <div class="col-4">
                    <h4 class="text-center">
                        {{ _('Surveys company size') }}
                    </h4>
                    <div id="spinner-stats-company" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    {% if nb_finished_surveys_for_period == 0 %}
                        <div class="text-center">
                            <i class="bi bi-x-circle text-warning display-1"></i>
                            <p class="font-italic">{{ _('No statistics available') }}</p>
                        </div>
                    {% else %}
                        <canvas id="stats-company"></canvas>
                    {% endif %}
                </div>
            {% endif %}
            {% if custom.stats.country %}
                <div class="col-4">
                    <h4 class="text-center">
                        {{ _('Surveys countries') }}
                    </h4>
                    <div id="spinner-stats-countries" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    {% if nb_finished_surveys_for_period == 0 %}
                        <div class="text-center">
                            <i class="bi bi-x-circle text-warning display-1"></i>
                            <p class="font-italic">{{ _('No statistics available') }}</p>
                        </div>
                    {% else %}
                        <canvas id="stats-countries"></canvas>
                        <script>
                            var others_translation = "{{ others_translation }}"
                        </script>
                    {% endif %}
                </div>
                <div id="popup" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-center">{{ _('Details of other countries') }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                      </div>
                      <div class="modal-body col-10 mx-auto">
                          <canvas id="stats-countries-detail"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
            {% endif %}
            <div class="w-100 p-4"></div>
            {% if custom.stats.status %}
                <div class="col-4">
                    <h4 class="text-center">
                        {{ _('Surveys status') }}
                    </h4>
                    <div id="spinner-stats-count" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    {% if nb_surveys_for_period == 0 %}
                        <div class="text-center">
                            <i class="bi bi-x-circle text-warning display-1"></i>
                            <p class="font-italic">{{ _('No statistics available') }}</p>
                        </div>
                    {% else %}
                        <canvas id="stats-count"></canvas>
                    {% endif %}
                </div>
            {% endif %}
            {% if custom.stats.language %}
                <div class="col-4">
                    <h4 class="text-center">
                        {{ _('Surveys languages') }}
                    </h4>
                    <div id="spinner-stats-language" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    {% if nb_surveys_for_period == 0 %}
                        <div class="text-center">
                            <i class="bi bi-x-circle text-warning display-1"></i>
                            <p class="font-italic">{{ _('No statistics available') }}</p>
                        </div>
                    {% else %}
                        <canvas id="stats-language"></canvas>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if custom.stats.section %}
            <div class="w-100 p-4"></div>
            <div class="row justify-content-center">
                <div class="col-8 mx-auto text-center">
                    <h4>
                        {{ _('Answers by section and company size') }}
                    </h4>
                    <div id="spinner-answers-per-section" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    <div class="col-md-auto" id="select-section-displayByCountry" style="display:none">
                        <label for="section_displayByCountry">{{ _('Country')}}</label>
                        <select id="section_displayByCountry">
                            <option value="all" selected>{{ _('All')}}</option>
                            {% for survey_country in survey_countries %}
                                {% get_country survey_country as country %}
                                <option value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if nb_finished_surveys_for_period == 0 %}
                        <div class="text-center">
                            <i class="bi bi-x-circle text-warning display-1"></i>
                            <p class="font-italic">{{ _('No statistics available') }}</p>
                        </div>
                    {% else %}
                        <canvas id="answers-per-section"></canvas>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if custom.stats.category %}
            <div class="w-100 p-4"></div>
            <div class="row justify-content-center">
                <div class="col-8 mx-auto text-center">
                    <h4>
                        {{ _('Answers by category and company size') }}
                    </h4>
                    <div id="spinner-answers-per-category" class="row justify-content-center align-items-center">
                        <div class="text-primary spinner-border custom-spinner m-5" role="status">
                            <span class="sr-only">{{ _('Loading...') }}</span>
                        </div>
                    </div>
                    <div class="col-md-auto" id="select-category-displayByCountry" style="display:none">
                        <label for="category_displayByCountry">{{ _('Country')}}</label>
                        <select id="category_displayByCountry">
                            <option value="all" selected>{{ _('All')}}</option>
                            {% for survey_country in survey_countries %}
                                {% get_country survey_country as country %}
                                <option value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if nb_finished_surveys_for_period == 0 %}
                        <div class="text-center">
                            <i class="bi bi-x-circle text-warning display-1"></i>
                            <p class="font-italic">{{ _('No statistics available') }}</p>
                        </div>
                    {% else %}
                        <canvas id="answers-per-category"></canvas>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if custom.stats.current_question %}
            <div class="w-100 p-4"></div>
            <div class="col-4 mx-auto text-center">
                <h4 class="text-center">
                    {{ _("Survey's current question") }}
                </h4>
                <div id="spinner-stats-current_question" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                {% if nb_surveys_for_period == 0 %}
                    <div class="text-center">
                        <i class="bi bi-x-circle text-warning display-1"></i>
                        <p class="font-italic">{{ _('No statistics available') }}</p>
                    </div>
                {% else %}
                    <canvas id="stats-current_question"></canvas>
                {% endif %}
            </div>
        {% endif %}
        <div class="w-100 p-4"></div>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <h4>{{ _('Server information') }}</h4>
                    <li class="list-group-item">
                        {{ _('Python version:') }} {{ python_version }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Software version:') }}
                        <a href="{{ version_url }}"
                            title="{{ _('Version of') }} {{ custom.tool_name }}"
                            alt="{{ _('Version of') }} {{ custom.tool_name }}"
                            target="_blank"
                            rel="noopener noreferrer">
                            {{ app_version }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-100 p-4"></div>
    {% endif %}
{% endblock %}
