{% extends 'survey/base.html' %}
{% load bootstrap4 %}
{% load apptags %}
{% load static %}
{% load countries %}
{% block bootstrap4_extra_head %}
{{ block.super }}
    <script type="text/javascript" src="/static/stats/js/github_contribution.js"></script>
    <link href="/static/stats/css/github_contribution_graph.css" media="all" rel="stylesheet">
{% endblock %}
{% block content_title %}
    <p class="lead" style="font-size: larger">
        {{ _('Some statistics about the current surveys.') }}
    </p>
{% endblock %}
{% block content %}
    {% if not first_survey_date %}
        <div class="text-center">
            <i class="bi bi-x-circle text-warning" style="font-size: 12rem"></i>
            <h3>{{ _('No statistics available') }}</h3>
        </div>
    {% else %}
        <script type="text/javascript" src="/static/npm_components/chart.js/dist/chart.min.js"></script>
        <script type="text/javascript" src="/static/npm_components/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
        <script type="text/javascript" src="{% static "stats/js/stats.js" %}"></script>
        <link href="/static/stats/css/stats.css" media="all" rel="stylesheet">
        <div class="row">
            <div class="col">
                <h4>{{ _('Main figures') }}</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ _('Number of surveys:') }} {{ nb_surveys }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Number of finished surveys:') }} {{ nb_finished_surveys }}
                    </li>
                    <li class="list-group-item">
                        {{ _('First completed survey on:') }} {{ first_survey_date }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-100 p-4"></div>
        <div class="row justify-content-center">
            <div class="mx-auto text-center">
                <h4>
                    {{ _('Activity over the past year') }}
                </h4>
                <div id="spinner-surveys-activity" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <div id="surveys-activity"></div>
                <br />
                <div class="d-flex justify-content-end align-items-center">
                  Less&nbsp;
                  <svg width="10" height="10" class="d-inline-block">
                    <rect width="10" height="10" class="ContributionCalendar-day" rx="2" ry="2" data-level="1" style="fill:#eeeeee;stroke-width:3;stroke:#eeeeee"></rect>
                  </svg>&nbsp;
                  <svg width="10" height="10" class="d-inline-block">
                    <rect width="10" height="10" class="ContributionCalendar-day" rx="2" ry="2" data-level="0" style="fill:#d6e685;stroke-width:3;stroke:#d6e685"></rect>
                  </svg>&nbsp;
                  <svg width="10" height="10" class="d-inline-block">
                    <rect width="10" height="10" class="ContributionCalendar-day" rx="2" ry="2" data-level="2" style="fill:#8cc665;stroke-width:3;stroke:#8cc665"></rect>
                  </svg>&nbsp;
                  <svg width="10" height="10" class="d-inline-block">
                    <rect width="10" height="10" class="ContributionCalendar-day" rx="2" ry="2" data-level="3" style="fill:#44a340;stroke-width:3;stroke:#44a340"></rect>
                  </svg>&nbsp;
                  <svg width="10" height="10" class="d-inline-block">
                    <rect width="10" height="10" class="ContributionCalendar-day" rx="2" ry="2" data-level="4" style="fill:#44a340;stroke-width:3;stroke:#44a340"></rect>
                  </svg>&nbsp;
                  More
                </div>
            </div>
        </div>
        <div class="w-100 p-4"></div>
        <h4 class="text-center">{{ _('Statistics since') }} {{ date_from }}</h4>
        <h5 class="text-center">{{ _('Total of completed surveys:') }} {{ nb_finished_surveys_for_period }}</h5>
        <div class="w-100 p-4"></div>
        <div class="row justify-content-center">
            <div class="col-4">
                <h4 class="text-center">
                    {{ _('Surveys company sector') }}
                </h4>
                <div id="spinner-stats-sector" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <canvas id="stats-sector"></canvas>
            </div>
            <div class="col-4">
                <h4 class="text-center">
                    {{ _('Surveys company size') }}
                </h4>
                <div id="spinner-stats-company" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <canvas id="stats-company"></canvas>
            </div>
            <div class="col-4">
                <h4 class="text-center">
                    {{ _('Surveys countries') }}
                </h4>
                <div id="spinner-stats-countries" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <canvas id="stats-countries"></canvas>
                <script>
                    var others_translation = "{{ others_translation }}"
                </script>
            </div>
            <div id="popup" class="modal fade" role="dialog">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">{{ _('Surveys countries details') }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body col-10 mx-auto">
                      <canvas id="stats-countries-detail"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-100 p-4"></div>
            <div class="col-4">
                <h4 class="text-center">
                    {{ _('Surveys status') }}
                </h4>
                <div id="spinner-stats-count" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <canvas id="stats-count"></canvas>
            </div>
            <div class="col-4">
                <h4 class="text-center">
                    {{ _('Surveys languages') }}
                </h4>
                <div id="spinner-stats-language" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <canvas id="stats-language"></canvas>
            </div>

        </div>
        <div class="w-100 p-4"></div>
        <div class="row justify-content-center">
            <div class="col-8 mx-auto text-center">
                <h4>
                    {{ _('Answers by section and company size') }}
                </h4>
                <div id="spinner-answers-per-section" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <div class="col-md-auto" id="select-section-displayByCountry" style="display:none">
                    <label for="section_displayByCountry">{{ _('Country')}}</label>
                    <select id="section_displayByCountry">
                        <option value="all" selected>{{ _('All')}}</option>
                        {% for survey_country in survey_countries %}
                            {% get_country survey_country as country %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <canvas id="answers-per-section"></canvas>
            </div>
        </div>
        <div class="w-100 p-4"></div>
        <div class="row justify-content-center">
            <div class="col-8 mx-auto text-center">
                <h4>
                    {{ _('Answers by category and company size') }}
                </h4>
                <div id="spinner-answers-per-category" class="row justify-content-center align-items-center">
                    <div class="text-primary spinner-border custom-spinner m-5" role="status">
                        <span class="sr-only">{{ _('Loading...') }}</span>
                    </div>
                </div>
                <div class="col-md-auto" id="select-category-displayByCountry" style="display:none">
                    <label for="category_displayByCountry">{{ _('Country')}}</label>
                    <select id="category_displayByCountry">
                        <option value="all" selected>{{ _('All')}}</option>
                        {% for survey_country in survey_countries %}
                            {% get_country survey_country as country %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <canvas id="answers-per-category"></canvas>
            </div>
        </div>
        <div class="w-100 p-4"></div>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <h4>{{ _('Server information') }}</h4>
                    <li class="list-group-item">
                        {{ _('Python version:') }} {{ python_version }}
                    </li>
                    <li class="list-group-item">
                        {{ _('Software version:') }}
                        <a href="{{ version_url }}"
                            title="{{ _('Version of') }} {{ custom.tool_name }}"
                            alt="{{ _('Version of') }} {{ custom.tool_name }}"
                            target="_blank"
                            rel="noopener noreferrer">
                            {{ app_version }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-100 p-4"></div>
    {% endif %}
{% endblock %}
