{% extends 'survey/base.html' %}
{% load bootstrap4 %}
{% load apptags %}
{% block bootstrap4_extra_head %}
{{ block.super }}
<script type="text/javascript" src="/static/npm_components/chart.js/dist/chart.min.js"></script>
<script type="text/javascript" src="/static/stats/js/github_contribution.js"></script>
<link href="/static/stats/css/github_contribution_graph.css" media="all" rel="stylesheet" />
<style>
.chart-container {
  display: block;
  float: none;
  width: 20%;
  margin-top: 0px;
  margin-right:0px;
  margin-left:0px;
  height: auto;
}
</style>
{% endblock %}
{% block content_title %}
<p class="lead" style="font-size: larger">
Some statistics about the current surveys.
</p>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h3>Main figures</h3>
    <ul class="list-group">
      <li class="list-group-item">Number of surveys: {{ nb_surveys }}</li>
      <li class="list-group-item">Number of finished surveys: {{ nb_finished_surveys }}</li>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col chart-container">
    <h3>Surveys status</h3>
    <canvas id="stats-count"></canvas>
  </div>
  <div class="col chart-container">
    <h3>Surveys languages</h3>
    <canvas id="stats-language"></canvas>
  </div>
</div>
<br />
<div class="row">
  <div class="col mx-auto">
    <h3>Activity over the past year</h3>
    <div class="text-center">
      <div id="surveys-activity"></div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col chart-container">
    <h3>Answers by section</h3>
    <canvas id="answers-per-section"></canvas>
    <p>With data for the last month.</p>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <ul class="list-group">
    <h3>Server information</h3>
      <li class="list-group-item">Python version: {{ python_version }}</li>
      <li class="list-group-item">Software version: <a href="{{ version_url }}" title="{{ _('Version of') }} {{ custom.tool_name }}" alt="{{ _('Version of') }} {{ custom.tool_name }}" target="_blank" rel="noopener noreferrer">{{ app_version }}</a></li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var colors = ['rgba(230, 25, 75, 0.4)', 'rgba(60, 180, 75, 0.4)',
        'rgba(255, 225, 25, 0.4)', 'rgba(0, 130, 200, 0.4)', 'rgba(245, 130, 48, 0.4)',
        'rgba(145, 30, 180, 0.4)', 'rgba(70, 240, 240, 0.4)', 'rgba(240, 50, 230, 0.4)',
        'rgba(210, 245, 60, 0.4)', 'rgba(250, 190, 190, 0.4)', 'rgba(0, 128, 128, 0.4)',
        'rgb(148, 163, 209, 0.4)', 'rgba(170, 110, 40, 0.4)', 'rgb(141, 140, 255, 0.4)',
        'rgba(128, 0, 0, 0.4)', 'rgba(170, 255, 195, 0.4)', 'rgba(128, 128, 0, 0.4)',
        'rgba(255, 215, 180, 0.4)', 'rgba(0, 0, 128, 0.4)', 'rgb(241, 147, 241, 0.4)',
        'rgba(255, 255, 255, 0.4)', 'rgb(129, 181, 255, 0.4)', 'rgb(229, 236, 202, 0.4)',
        'rgb(157, 196, 241, 0.4)', 'rgb(253, 141, 211, 0.4)', 'rgb(180, 128, 253, 0.4)',
        'rgb(255, 195, 129, 0.4)', 'rgb(204, 228, 230, 0.4)'];

    fetch("/stats/survey-status-count.json")
    .then(response => response.json())
    .then(result => {
      var ctx = document.getElementById("stats-count").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: Object.keys(result),
          datasets: [{
            data: Object.values(result),
            borderWidth: 1,
            backgroundColor: colors
          }],
          options: {
            responsive: true,
            maintainAspectRatio: false,
          }
        }});
      }).catch((error) => {
        console.error('Error:', error);
      });

      fetch("/stats/survey-language-count.json")
      .then(response => response.json())
      .then(result => {
        var ctx = document.getElementById("stats-language").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: Object.keys(result),
            datasets: [{
              data: Object.values(result),
              borderWidth: 1,
              backgroundColor: colors
            }],
            options: {
              responsive: true,
              maintainAspectRatio: false,
            }
          }});
        }).catch((error) => {
          console.error('Error:', error);
        });

      fetch("/stats/activity-chart.json")
      .then(response => response.json())
      .then(result => {
          $('#surveys-activity').github_graph( {
            data: result ,
            texts: ['completed survey','completed surveys']
          });
        }).catch((error) => {
          console.error('Error:', error);
        });

      fetch("/stats/answers-per-section.json")
      .then(response => response.json())
      .then(result => {

        var ctx = document.getElementById("answers-per-section");
        var myChart = new Chart(ctx, {
          type: 'radar',
          data: {
            labels: Object.keys(result),
            datasets: [{
              label: 'Answers by section (all business types)',
              data: Object.values(result),
              fill: true,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgb(255, 99, 132)',
              pointBackgroundColor: 'rgb(255, 99, 132)',
              pointBorderColor: '#fff',
              pointHoverBackgroundColor: '#fff',
              pointHoverBorderColor: 'rgb(255, 99, 132)'
            }]
          },
          options: {
                scale: {
                min: 0,
                max: 100,
            },
            elements: {
              line: {
                borderWidth: 3
              }
            }
          }
        });
        }).catch((error) => {
          console.error('Error:', error);
        });
      });
    </script>
    {% endblock %}
