{% extends 'survey/base.html' %}

{% load apptags %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block bootstrap4_extra_head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/survey-questions.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/chart.css' %}" />

    <script type="text/javascript" src="{% static 'survey/js/qrcode.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'npm_components/chart.js/dist/chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'survey/js/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'survey/js/survey-questions.js' %}"></script>
    <script type="text/javascript" src="{% static 'survey/js/send-email.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row px-4">
    <div class="col-12">
        {% block finished_survey_description %}
        <p class="text-justify py-2 h5">
            {% blocktranslate trimmed %}
            Nous vous remercions pour votre participation à DAAZ, outil de story-learning dédié à la mise en conformité des PME aux exigences du RGPD.
            {% endblocktranslate %}
        </p>
        {% endblock %}
    </div>
</div>

<div id="cover-spin"></div>

{% include 'survey/continue.html' %}
{% include 'survey/leaveSurvey.html' %}
{% include 'survey/sendReportEmail.html' %}

{% endblock %}
