{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load apptags %}
{% load i18n %}
{% load static %}
{% load cookiebanner %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-index.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-index.js" %}"></script>
{% endblock %}

{% block content %}
    {% cookiebanner_modal 'bootstrap4' %}
    <div class="px-3">
        <div class="p-2 text-center">
            <h2 class="text-primary">
                {{ _('The questionnaire is closed') }}
            </h2>
            <h4 class="py-2 col-8 mx-auto">
                {{ _('The ALTO team thanks you for your interest and your participation in phase 1 of the project.') }}
            </h4>
        </div>
    </div>

    <div class="col px-2 py-4 text-center">
        <a href="/stats">
            <button class="btn border border-rounded btn-primary" type="button">
                {{ _('View statistics') }}
            </button>
        </a>
    </div>
    <div class="card bg-warning m-4 h7">
        <div class="card-body">
            <h3 class="card-title text-center">{{ _('Contribute to the design !') }}</h3>
            <p class="text-center">
                {{ _("The Pilot prototyping phase will begin soon.") }}
                {% blocktranslate trimmed %}
                <a href="https://cnpd.public.lu/en/actualites/national/2023/03/projet-alto.html">Details</a>
                {% endblocktranslate %}
                <br />
                {{ _('You can now register by email: ')}}
                <a href="mailto:alto@cnpd.lu">alto@cnpd.lu</a>
            </p>
        </div>
    </div>
    {% include 'survey/resume.html' %}
{% endblock %}
