{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load apptags %}
{% load i18n %}
{% load static %}
{% load cookiebanner %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-index.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-index.js" %}"></script>
{% endblock %}

{% block content %}
    {% cookiebanner_modal 'bootstrap4' %}
    <div class="d-flex flex-row align-items-center px-3">
        <div class="p-2 flex-grow-1 text-justify">
            <h5>
                {% block index_welcome_message %}
                {{ _('Quels sont les défis RGPD des PMEs ?') }}
                {% endblock %}
            </h5>
            {{ custom.intro_text | safe }}
        </div>
    </div>
    

    <div class="col px-2 py-4 text-center">
        <a href="/survey/start">
            <button class="btn border border-rounded btn-primary" type="button">
                {{ _('Start') }}
            </button>
        </a>
        <h5 class="text-primary">
            {{ _('Durée: 15 min') }}
        </h5>


    </div>
    <div class="card bg-warning m-4 h7">
        <div class="card-body font-weight-light">
            <h6 class="card-title text-center">{{ _('Appel à participation :') }}</h6>
            <p class="text-justify small">
                {% blocktranslate trimmed %}
                La phase « Pilote » du projet ALTO nécessitera un appel à participation des PME lors du 4ème trimestre de l'année 2023.
                <br><br>
                Toute PME est invitée à faire part de son intérêt à participer à la phase « Pilote » par e-mail à l'adresse électronique : <a href="mailto:alto@cnpd.lu">alto@cnpd.lu</a>
                {% endblocktranslate %}
                
            </p>
        </div>
    </div>
    <div class="p-4">
        <p class="text-justify small font-italic"> [1]
            {% blocktranslate trimmed %}
            Le présent questionnaire est anonyme et ne nécessite pas la collecte de données à caractère personnel auprès des personnes amenées à y répondre.
            Les PME sont donc invitées à répondre au présent questionnaire en veillant à ne pas communiquer, dans les champs libres de celui-ci, toute information permettant d'identifier une personne physique (ex. : nom, prénom, coordonnées, etc.).
            Pour le cas où des données à caractère personnel seraient toutefois renseignées par erreur dans les champs libres du questionnaire en ligne, celles-ci seront supprimées.
            Les réponses au questionnaire en ligne seront accessibles uniquement par le Commissaires et les agents de la CNPD ainsi que par les agents de la LHC-NC3 dédiés au projet ALTO, afin d'assurer l'analyse des réponses données et le bon fonctionnement technique.
            Pour toute question concernant les traitements de données à caractère personnel effectués par la CNPD, vous pouvez contacter le délégué à la protection des données (DPO) de la CNPD : <a href="mailto:dpo@cnpd.lu">dpo@cnpd.lu</a>
            {% endblocktranslate %}
        </p>
    </div>


    <div class="row py-3">
        <div class="col">
            <button class="btn btn-link" type="button" name="resume-show-popup" data-toggle="modal" data-target="#modal" data-tooltip>
                {{ _('Continue a previous survey') }}
            </button>
        </div>
    </div>

    {% include 'survey/resume.html' %}
{% endblock %}
