{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load apptags %}
{% load static %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-index.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row align-items-center px-3">
        <div class="p-2 flex-grow-1 text-justify">
            <h5>
                {% block index_welcome_message %}
                {{ _('Quels sont les défis RGPD des PMEs ?') }}
                {% endblock %}
            </h5>
            {{ custom.intro_text | safe }}
        </div>
    </div>
    

    <div class="col px-2 py-4 text-center">
        <a href="/survey/start">
            <button class="btn border border-rounded btn-primary" type="button">
                {{ _('Start') }}
            </button>
        </a>
        <h5 class="text-primary">
            {{ _('Durée: 15 min') }}
        </h5>


    </div>
    <div class="card bg-warning m-4 h7">
        <div class="card-body font-weight-light">
            <h6 class="card-title text-center">{{ _('Appel à participation :') }}</h6>
            <p><small>{{ _('La phase « Pilote » du projet ALTO nécessitera un appel à participation des PME lors du 4ème trimestre de l’année 2023. Un appel à participation sera communiqué en ce sens.') }}</small></p>
        </div>
    </div>

    <div class="row py-3">
        <div class="col">
            <button class="btn btn-link" type="button" name="resume-show-popup" data-toggle="modal" data-target="#modal" data-tooltip>
                {{ _('Continue a previous survey') }}
            </button>
        </div>
    </div>

    {% include 'survey/resume.html' %}
{% endblock %}
