# Ignore the following
__pycache__/
*.py[cod]
*.sqlite[3]
.idea

*.egg-info/
*.swp
npm-debug.log
node_modules/

csskp/static/
static/npm_components
static/admin/
static/users/
static/flags/*
static/bootstrap_datepicker_plus/
csskp/config_prod.py

*.mo

!docker/postgres/data/.gitkeep
docker/postgres/data/*
