# Ignore the following
__pycache__/
*.py[cod]
*.sqlite[3]
.idea
csskp/static/users/*
!csskp/static/users/.gitkeep
csskp/static/npm_components
*.mo
!docker/postgres/data/.gitkeep
docker/postgres/data/*
