{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static custom.survey_css %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="form mx-auto p-4">
            <form method="post" class="text-center justify-content-center">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-right">
                    <button class="btn border border-rounded btn-primary " type="summit">
                        {{ _('Login') }}
                    </button>
                </div>
            </form>
            <div class="text-center">
                {{ _('No Account?') }}
                <a href="/audit/signup">{{ _('Sign Up') }}</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
