{% load static %}
<div class="d-flex justify-content-center border-top border-primary bg-light">
	<ul class="nav flex-column flex-sm-row align-items-center">
		<li class="nav-item">
            <a class="nav-link" href="https://abbl.lu" target="_blank" rel="noopener noreferrer">
                <img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/ABBL2021LOGOSHORT_POSITIVE_RGB@4x.png' %}" width="32px"
                     title="{{ _('ABBL') }}"
                     alt="{{ _('ABBL') }}"/>
            </a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="https://www.cdm.lu/" target="_blank" rel="noopener noreferrer">
				<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/CdM-logo.png' %}" width="64px"
					 title="{{ _('Chambre des Métiers') }}"
					 alt="{{ _('Chambre des Métiers') }}"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://fedil.lu" target="_blank" rel="noopener noreferrer">
				<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/Fedil_Generative Logo_Claim_red_cmyk.png' %}" width="64px"
					 title="{{ _('FEDIL') }}"
					 alt="{{ _('FEDIL') }}"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://www.fda.lu/" target="_blank" rel="noopener noreferrer">
				<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/Logo-principal-Federation-des-artisans-vf.png' %}" width="64px"
					 title="{{ _('Fédération des artisans') }}"
					 alt="{{ _('Fédération des artisans') }}"/>
			</a>
		</li>
		<li class="nav-item">
            <a class="nav-link" href="https://nc3.lu" target="_blank" rel="noopener noreferrer">
                <img class="img-fluid" src="{% static 'images/logo-nc3.png' %}" width="32px"
                     title="{{ _('A service provided by NC3-LU') }}"
                     alt="{{ _('A service provided by NC3-LU') }}"/>
            </a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="https://www.host.lu/" target="_blank" rel="noopener noreferrer">
				<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/HoST_baseline-black.png' %}" width="64px"
					 title="{{ _('House of Startups') }}"
					 alt="{{ _('House of Startups') }}"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://meco.gouvernement.lu" target="_blank" rel="noopener noreferrer">
				<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/GOUV_MECO.png' %}" width="64px"
					title="{{ _('Ministère de l\'Économie') }}"
					alt="{{ _('Ministère de l\'Économie') }}"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" target="_blank" rel="noopener noreferrer">
				<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/Your logo here.png' %}" width="64px"
					title="{{ _('Your logo here') }}"
					alt="{{ _('Your logo here') }}"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" target="_blank" rel="noopener noreferrer">
				<img class="img-fluid" src="{% static '/images/surveySMEDemand/partners_logo/Your logo here.png' %}" width="64px"
					title="{{ _('Your logo here') }}"
					alt="{{ _('Your logo here') }}"/>
			</a>
		</li>

    </ul>
</div>
<div class="d-flex justify-content-center">
    <ul class="nav flex-column flex-sm-row">
		<li class="nav-item">
            <a class="nav-link" href="https://github.com/NC3-LU/Fit4Cybersecurity" target="_blank"
               rel="noopener noreferrer">
                <img class="img-fluid" src="{% static 'images/github-9-512.png' %}" width="32px"
                     title="{{ _('Source code on GitHub') }}"
                     alt="{{ _('Source code on GitHub') }}"/>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ version_url }}" title="{{ _('Version of') }} {{ custom.tool_name }}"
               alt="{{ _('Version of') }} {{ custom.tool_name }}" target="_blank" rel="noopener noreferrer">
                {{ app_version }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stats' %}" title="{{ _('Stats') }}" alt="{{ _('Stats') }}">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'terms' %}" title="{{ _('Terms of Service') }}"
               alt="{{ _('Terms of Service') }}">{{ _('Terms of Service') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'privacy' %}" title="{{ _('Privacy policy') }}"
               alt="{{ _('Privacy policy') }}">{{ _('Privacy policy') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://lhc.lu" target="_blank" rel="noopener noreferrer">Copyright {% now "Y" %} Luxembourg House of Cybersecurity</a>
        </li>
    </ul>
</div>
