{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static custom.survey_css %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ _('Create a company')}}</h2>
    <div class="row">
        <div class="form mx-auto p-4">
            <form method="post" class="justify-content-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn border border-rounded btn-primary " type="summit">
                    {{ _('OK') }}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
