{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load apptags %}
{% load static %}

{% block bootstrap4_extra_head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/survey-index.css' %}" />
    <script type="text/javascript" src="/static/npm_components/chart.js/dist/chart.min.js"></script>
    <script type="text/javascript" src="/static/npm_components/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
    <script type="text/javascript" src="{% static 'survey/js/survey-index.js' %}"></script>
    <script type="text/javascript" src="{% static 'audit/js/audit.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h5>
                {% block index_welcome_message %}
                <h1>{{ _('Welcome to the Audit Module') }} {{ custom.tool_name }}</h1>
                {% endblock %}
            </h5>
        </div>
    </div>

    <div class="row">
    <div class="col-12">
      <h2>{{ _('Audits') }}</h2>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">{{ _('Product name') }}</th>
                <th scope="col">{{ _('Product reference') }}</th>
                <th scope="col"> {{ kind_of_company_label }} </th>
                <th scope="col">{{ _('Status') }}</th>
                <th scope="col">{{ _('Actions') }}</th>
              </tr>
            </thead>
            <tbody>
                {% for auditByUser in auditsByUser %}
                <tr>
                    <td><a href="/audit/product/{{ auditByUser.audit.id }}">{{ auditByUser.audit.product_name | safe }}</a></td>
                    <td>{{ auditByUser.audit.product_ref | safe }}</td>
                    <td>{{ auditByUser.audit_company_selected.audit_company.name | safe }}</td>
                    <td class="p-0 d-flex">
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form auditByUser.statusForm show_label=False %}
                        </form>
                            <i type="button" class="btn bi bi-info-circle-fill text-primary" data-audit-id="{{ auditByUser.audit.id | safe }}" data-toggle="modal" data-target="#statusDetails"></i>
                            <script>
                                complianceData[{{auditByUser.audit.id}}] = {{ auditByUser.audit.statusDetails | safe }}
                            </script>
                    </td>
                    <td>
                        <i class="bi bi-gear go-to-edit" data-go-to-edit="{{ auditByUser.audit.id }}" data-toggle="modal" data-target="editProduct"></i>
                        <i class="go-to-audit bi bi-list-check text-success" data-go-to-audit="{{ auditByUser.audit.id }}"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="/audit/product/" id="download-report">
          <button class="btn btn-sm btn-block border border-rounded btn-primary" type="button">
              {{ _('Add an audit') }}
          </button>
        </a>
      </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-12">
          <h2>Companies you are managing</h2>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">{{ _('Company name') }}</th>
                  <th scope="col">{{ _('# members') }}</th>
                  <th scope="col">{{ _('Type') }}</th>
                </tr>
              </thead>
              <tbody>
                  {% for company in companies_admin %}
                  <tr>
                      <td><a href="/audit/company/{{ company.id }}">{{ company.name }}</a></td>
                      <td>{{ company.members.count }}</td>
                      <td>{% if company.type == 'CS'%}Customer{% else %}Audit{% endif %}</td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
          <a href="/audit/company" id="download-report">
            <button class="btn btn-sm btn-block border border-rounded btn-primary" type="button">
                {{ _('Add a company') }}
            </button>
          </a>
      </div>
    </div>


    <!-- Status Details Modal -->
    <div class="modal fade"
      id="statusDetails"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="StatusDetailsModal"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="StatusDetailsModal">{{ _('Compliance status details') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="col-8 mx-auto">
                  <canvas id="complianceStatus"></canvas>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade"
      id="editProduct"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="editProductModal"
      aria-hidden="true">
      <div class="modal-dialog">
      </div>
    </div>
{% endblock %}
