{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static custom.survey_css %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ _('Create an account')}}</h2>
    <form  class="p-4" method="post">
        {% csrf_token %}
        <div class="row">
            <h4>{{ _('Personal information')}}</h4>
        </div>
        <div class="row">
            <div class="col">
                {% bootstrap_field formSignUp.first_name %}
            </div>
            <div class="col">
                {% bootstrap_field formSignUp.last_name %}
            </div>
            <div class="col">
                {% bootstrap_field formSignUp.email %}
            </div>
        </div>
        <div class="row">
            <h4>{{ _('Company information')}}</h4>
        </div>
        <div class="row">
            <div class="col">
                {% bootstrap_field formCompany.name %}
            </div>
            <div class="col">
                {% bootstrap_field formCompany.phone %}
            </div>
            <div class="col">
                {% bootstrap_field formCompany.email %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% bootstrap_field formCompany.address_street %}
            </div>
            <div class="col">
                {% bootstrap_field formCompany.address_zip_code %}
            </div>
            <div class="col">
                {% bootstrap_field formCompany.address_city %}
            </div>
        </div>
        <div class="row">
            <h4>{{ _('Login information')}}</h4>
        </div>
        <div class="row">
            <div class="col">
                {% bootstrap_field formSignUp.username %}
            </div>
            <div class="col">
                {% bootstrap_field formSignUp.password1 %}
            </div>
            <div class="col">
                {% bootstrap_field formSignUp.password2 %}
            </div>
        </div>
        <div class="d-flex justify-content-end col">
            <button class="btn border border-rounded btn-primary" type="summit">
                {{ _('Sign Up') }}
            </button>
        </div>
    </form>
</div>
{% endblock %}
