{% extends "admin/base_site.html" %}
{% block title %}Admin site | Stats{% endblock %}
{% block extrastyle %}
{{ block.super }}
<script type="text/javascript" src="/static/npm_components/chart.js/dist/chart.min.js"></script>
<style>
.chart-container {
  display: block;
  float: none;
  width: 20%;
  margin-top: 0px;
  margin-right:0px;
  margin-left:0px;
  height: auto;
}
</style>
{% endblock %}
{% block content_title %}
<p class="lead" style="font-size: larger">
Some statistics about the current surveys.
</p>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-3">
    <h2>Main figures</h2>
    <p>Number of surveys: {{ nb_surveys }}</p>
    <p>Number of finished surveys: {{ nb_finished_surveys }}</p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <h2>Last 10 finished surveys</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Survey ID</th>
          <th scope="col">Creation date</th>
          <th scope="col">Update date</th>
          <th scope="col">Choosen language</th>
        </tr>
      </thead>
      <tbody>
      {% for survey in last_surveys %}
      <tr>
        <td><a href="/admin/survey/surveyuser/{{ survey.id }}/change/">{{ survey.user_id }}</a></td>
        <td>{{ survey.created_at }}</td>
        <td>{{ survey.updated_at }}</td>
        <td>{{ survey.choosen_lang }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-3 chart-container">
    <h2>Surveys status</h2>
    <canvas id="stats-count"></canvas>
  </div>
  <div class="col-3 chart-container">
    <h2>Surveys languages</h2>
    <canvas id="stats-language"></canvas>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var colors = ['rgba(230, 25, 75, 0.4)', 'rgba(60, 180, 75, 0.4)',
        'rgba(255, 225, 25, 0.4)', 'rgba(0, 130, 200, 0.4)', 'rgba(245, 130, 48, 0.4)',
        'rgba(145, 30, 180, 0.4)', 'rgba(70, 240, 240, 0.4)', 'rgba(240, 50, 230, 0.4)',
        'rgba(210, 245, 60, 0.4)', 'rgba(250, 190, 190, 0.4)', 'rgba(0, 128, 128, 0.4)',
        'rgb(148, 163, 209, 0.4)', 'rgba(170, 110, 40, 0.4)', 'rgb(141, 140, 255, 0.4)',
        'rgba(128, 0, 0, 0.4)', 'rgba(170, 255, 195, 0.4)', 'rgba(128, 128, 0, 0.4)',
        'rgba(255, 215, 180, 0.4)', 'rgba(0, 0, 128, 0.4)', 'rgb(241, 147, 241, 0.4)',
        'rgba(255, 255, 255, 0.4)', 'rgb(129, 181, 255, 0.4)', 'rgb(229, 236, 202, 0.4)',
        'rgb(157, 196, 241, 0.4)', 'rgb(253, 141, 211, 0.4)', 'rgb(180, 128, 253, 0.4)',
        'rgb(255, 195, 129, 0.4)', 'rgb(204, 228, 230, 0.4)'];

    fetch("/admin/stats/survey-status-count.json")
    .then(response => response.json())
    .then(result => {
      var ctx = document.getElementById("stats-count").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: Object.keys(result),
          datasets: [{
            data: Object.values(result),
            borderWidth: 1,
            backgroundColor: colors
          }],
          options: {
            responsive: true,
            maintainAspectRatio: false,
          }
        }});
      }).catch((error) => {
        console.error('Error:', error);
      });

      fetch("/admin/stats/survey-language-count.json")
      .then(response => response.json())
      .then(result => {
        var ctx = document.getElementById("stats-language").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: Object.keys(result),
            datasets: [{
              data: Object.values(result),
              borderWidth: 1,
              backgroundColor: colors
            }],
            options: {
              responsive: true,
              maintainAspectRatio: false,
            }
          }});
        }).catch((error) => {
          console.error('Error:', error);
        });
      });
    </script>
    {% endblock %}
