{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Survey statistics</h1>
    <div class="row">
        <form action="/admin/export/statistics/" method="post" class="dates-limit-form">
            {% csrf_token %}

            {{ dates_limit_form.media }}
            {{ dates_limit_form }}

            {% buttons %}
                <div class="form-group pt-4">
                    <input class="btn btn-primary" type="submit" value="Apply">
                </div>
            {% endbuttons %}
        </form>
    </div>
    <div class="row">
        <h4>Results json</h4>
    </div>
    {% if surveys_users_results != '{}' %}
        <div class="row">
            <textarea rows="5" cols="100" id="surveys_users_results">{{ surveys_users_results }}</textarea>
        </div>
        <div class="mt-2 row">
            <button id="save-as-json" class="btn btn-primary">Save as json</button>
        </div>
    {% endif %}
</div>
{% endblock %}
