{% extends 'survey/bootstrap.html' %}

{% load bootstrap4 %}

{% load staticfiles %}

{% block title %}
    Fit4Cybersecurity a CASES self-assessment tool!
{% endblock %}

{% block bootstrap4_content %}
    <div class="container">
        <div class="d-flex px-3 py-2 border-bottom border-primary">
            <div class="flex-grow-1">
                <h1><a href="/"><img src="{% static "images/logoFull.png" %}" width="500px" alt="Fit4Cybersecurity"></a></h1>
            </div>
            <div>
            {% block langselect %}{% endblock %}
            </div>
        </div>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
