<div class="modal fade" tabindex="-1" role="dialog" id="modal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h4>Continue the evaluation later</h4>
        </div>
        <div class="modal-content">
            <p class="text-info">
                <span>To continue the evaluation process later you can copy the provided link, create a bookmark</span>
                <span>or use the code to resume later on the main page: <input type="text" class="input-no-border" id="resume-later-code" value="{{ userId }}" readonly="readonly" />
                </span>
            </p>
            <div class="col text-left">
                <textarea
                        class="text-primary disabled"
                        id="direct-link"
                        data-link="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/survey/resume/{{ userId }}"
                >{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/survey/resume/{{ userId }}</textarea>
            </div>
            <div class="col text-left">
                <button class="btn btn-primary" id="download-direct-link">Download direct link</button>
            </div>
            <div class="col text-right">
                <button class="close-popup btn btn-link" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>