{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load staticfiles %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-questions.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-questions.js" %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div><h1>{{ question }}</h1></div>

    <form action="/survey/gotoquestion/{{ next }}" method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}

        <div>
            {% if next > -1 %}
                {% buttons %}
                    <div class="col text-right">
                        <input class="btn btn-primary" type="submit" value="Next">
                    </div>
                    <div class="col text-left">
                        <button class="btn btn-link" type="button" name="continue-later" data-toggle="modal" data-target="#modal" data-tooltip>Continue later</button>
                    </div>
                {% endbuttons %}
            {% endif %}
        </div>
    </form>

    {% include 'survey/continueSelfEval.html' %}
{% endblock %}