{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load staticfiles %}
{% block bootstrap4_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey.js" %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>{{ description }}</div>
    <div>
        <form action="/survey/gotoquestion/0" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
                <div class="col text-right">
                    <input class="btn btn-primary" type="submit" value="Next">
                </div>
                <div class="col text-left">
                    <button class="btn btn-link" type="button" name="continue-later" data-toggle="modal" data-target="#modal" data-tooltip>Continue later</button>
                </div>
            {% endbuttons %}
        </form>
    </div>

    {% include 'survey/continueSelfEval.html' %}
{% endblock %}
