{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load apptags %}
{% load static %}
{% load cookiebanner %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-index.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-index.js" %}"></script>
{% endblock %}

{% block content %}
{% cookiebanner_modal 'bootstrap4' %}
    <div class="d-flex flex-row align-items-center px-3">
        <div class="p-2 flex-grow-1 text-justify">
            {{ custom.intro_text | safe }}
        </div>
    </div>

    <div class="px-3">
        <div class="p-2">
            <h5>{{ _('This project is supported by:') }}</h5>
        </div>
        <div class="col">
            <div class="d-flex justify-content-between row">
                <ul class="nav flex-column flex-sm-row mx-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="https://abbl.lu" target="_blank" rel="noopener noreferrer">
                            <img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/ABBL2021LOGOSHORT_POSITIVE_RGB@4x.png' %}" width="160px"
                                 title="ABBL"
                                 alt="ABBL"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.cc.lu/" target="_blank" rel="noopener noreferrer">
                            <img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/CC_logo-baseline_rvb.png' %}" width="160px"
                                 title="{{ _('Chambre de Commerce') }}"
                                 alt="{{ _('Chambre de Commerce') }}"/>
                        </a>
                    </li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.cdm.lu/" target="_blank" rel="noopener noreferrer">
							<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/CdM-logo.png' %}" width="160px"
								 title="{{ _('Chambre des Métiers') }}"
								 alt="{{ _('Chambre des Métiers') }}"/>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.fda.lu" target="_blank" rel="noopener noreferrer">
							<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/Logo-principal-Federation-des-artisans-vf.png' %}" width="160px"
								 title="{{ _('Fédération des artisans') }}"
								 alt="{{ _('Fédération des artisans') }}"/>
						</a>
					</li>
                </ul>
            </div>
            <div class="d-flex justify-content-between row">
                <ul class="nav flex-column flex-sm-row mx-auto align-items-center">
                    <li class="nav-item">
						<a class="nav-link" href="https://fedil.lu" target="_blank" rel="noopener noreferrer">
							<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/Fedil_Generative Logo_Claim_red_cmyk.png' %}" width="160px"
								 title="FEDIL"
								 alt="FEDIL"/>
						</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="https://www.houseofentrepreneurship.lu/" target="_blank" rel="noopener noreferrer">
							<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/House_of_entrepreneurship.png.png' %}" width="160px"
								 title="{{ _('House of Entrepreneurship') }}"
								 alt="{{ _('House of Entrepreneurship') }}"/>
						</a>
                    </li>
                    <li class="nav-item">
						<a class="nav-link" href="https://www.host.lu/" target="_blank" rel="noopener noreferrer">
							<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/HoST_baseline-black.png' %}" width="160px"
								 title="{{ _('House of Startups') }}"
								 alt="{{ _('House of Startups') }}"/>
						</a>
                    </li>
					<li class="nav-item">
						<a class="nav-link" href="https://meco.gouvernement.lu" target="_blank" rel="noopener noreferrer">
							<img class="img-fluid" src="{% static 'images/surveySMEDemand/partners_logo/GOUV_MECO.png' %}" width="160px"
								title="{{ _('Ministère de l\'Économie') }}"
								alt="{{ _('Ministère de l\'Économie') }}"/>
						</a>
					</li>
                </ul>
            </div>
            <div class="p-2 row">
                <ul class="list-unstyled mx-auto">
                    <strong>
                        <li>
                            <i class="bi bi-arrow-right">{{ _('The results of the survey are anonymous.') }}</i>
                        </li>
                        <li>
                            <i class="bi bi-arrow-right">{{ _('There are no right or wrong answers. We invite you to be as honest as possible.') }}</i>
                        </li>
                    </strong>
                </ul>
            </div>
        </div>
    </div>

    <div class="col px-2 py-4 text-center">
        <a href="/survey/start">
            <button class="btn border border-rounded btn-primary" type="button">
                {{ _('Start') }}
            </button>
        </a>
    </div>

    <div class="row py-3">
        <div class="col">
            <button class="btn btn-link" type="button" name="resume-show-popup" data-toggle="modal" data-target="#modal" data-tooltip>
                {{ _('Continue a previous survey') }}
            </button>
        </div>
    </div>

    {% include 'survey/resume.html' %}
{% endblock %}
