{% load static %}
<div class="container">
    <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link" href="https://nc3.lu" target="_blank" rel="noopener noreferrer">
                <img class="img-fluid" src="{% static 'images/logo-nc3.png' %}" width="48px"
                     title="{{ _('A service provided by NC3-LU') }}"
                     alt="{{ _('A service provided by NC3-LU') }}"/>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://cnpd.public.lu" target="_blank" rel="noopener noreferrer">
                <img class="img-fluid" src="{% static 'images/surveyAlto/CNPD_logo.png' %}" width="48px" style="background: transparent;"
                     title="{{ 'CNPD' }}"
                     alt="{{ 'CNPD' }}"/>
            </a>
        </li>
        <li class="nav-item mt-1">
            <a class="nav-link" href="https://github.com/NC3-LU/Fit4Cybersecurity" target="_blank" rel="noopener noreferrer">
                <img class="img-fluid filter_invert" src="{% static 'images/github-9-512.png' %}" width="32px"
                     title="{{ _('Source code on GitHub') }}"
                     alt="{{ _('Source code on GitHub') }}"/>
            </a>
        </li>
        <li class="nav-item mt-1">
            <a class="nav-link" href="{{ version_url }}" title="{{ _('Version of') }} {{ custom.tool_name }}"
               alt="{{ _('Version of') }} {{ custom.tool_name }}" target="_blank" rel="noopener noreferrer">
                {{ app_version }}
            </a>
        </li>
    </ul>
    <div class="">
        <ul class="nav flex-column flex-sm-row d-flex justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stats' %}" title="{{ _('Stats') }}" alt="{{ _('Stats') }}">{{ _('Stats') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'terms' %}" title="{{ _('Terms of Service') }}"
                   alt="{{ _('Terms of Service') }}">{{ _('Terms of Service') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'privacy' %}" title="{{ _('Privacy policy') }}"
                   alt="{{ _('Privacy policy') }}">{{ _('Privacy policy') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://lhc.lu" target="_blank" rel="noopener noreferrer">Copyright {% now "Y" %} Luxembourg House of Cybersecurity</a>
            </li>
        </ul>
    </div>
</div>
