/* Bootstrap customization */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgb(246, 248, 250);
}

.spacer-50 { margin:0; padding:0; height:50px; }
.spacer-100 { margin:0; padding:0; height:100px; }

/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  line-height: 40px; /* Vertically center the text there */
  background-color: #006FBA;
}
.footer a{
    color: #FFFFFF;
}
