.modal-content {
    height: 100%;
    padding: 15px;
    border-radius: 0;
    overflow: auto;
}

.modal-header {
    background-color: #337AB7;
    padding: 16px;
    color: #FFF;
    border-bottom: 1px dashed var(--blue);;
}

#resume-code-input {
    border: 1px solid gainsboro;
}

.min-width {
    min-width: 140px;
}

.bg-bright-blue {
    background-color: rgb(182, 218, 240);
}
