.modal-content {
    height: 100%;
    padding: 15px;
    border-radius: 0;
    overflow: auto;
}

#resume-code-input {
    border: 1px solid gainsboro;
}

.min-width {
    min-width: 140px;
}

.bg-bright-blue {
    background-color: rgb(182, 218, 240);
}

.text-blue-color {
    color: #2E74B5 !important;
}

.btn-outline-primary {
    border-color: #2E74B5 !important;
}

.btn-outline-primary:hover {
    background-color: #2E74B5 !important;
    color: #fff !important;
    border-color: #2E74B5 !important;
}
