.modal-dialog {
    width: 100%;
}

.modal-content {
    padding: 15px;
    border-radius: 0;
    color: white;
    overflow: auto;
}

.modal-header {
    background-color: #337AB7;
    color: #FFF;
    border-bottom: 1px dashed #337AB7;
 }

#modal textarea {
    resize: none;
    height: 30px;
    width: 100%;
}

.close-popup {
    float: right;
}

.bg-bright-blue {
    background-color:rgb(182, 218, 240);
 }

.input-no-border {
    border: none;
    padding-left: 3px;
    width: 337px;
}
.text-info span {
    display: block;
}

.form-check-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.form-check-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.form-check-label input:checked ~ .checkmark {
    background-color: #2196F3;
}

.form-check-label:after {
    content: " ";
    position: absolute;
    display: none;
}

.form-check-label input:checked ~ .checkmark:after {
    display: block;
}

.form-check-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.invalid-feedback {
    display: block;
    border: none;
}

/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #006FBA;
}
.footer a{
    color: #FFFFFF;
}
