{% load static %}
<div class="d-flex justify-content-between">
    <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link" href="https://opensource.nc3.lu" target="_blank">
              <img class="img-fluid" src="{% static 'images/logo-ACRC.png' %}" width="32px"
                     title="{{ _('A service provided by ACRC') }}"
                     alt="{{ _('A service provided by ACRC') }}" />
            </a>
        </li>
    </ul>
    <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stats' %}" title="{{ _('Stats') }}" alt="{{ _('Stats') }}">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'terms' %}" title="{{ _('Terms of Service') }}" alt="{{ _('Terms of Service') }}">Terms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://opensource.nc3.lu" target="_blank" rel="noopener noreferrer">Copyright {% now "Y" %} Luxembourg House of Cybersecurity</a>
        </li>
    </ul>
</div>
