{% extends 'survey/base.html' %}

{% load apptags %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row px-4">
    <div class="col">
        <h2>{{ _('Thanks') }}</h2>
        {% block finished_survey_description %}
        <p class="text-justify">
            {% blocktranslate trimmed %}
            [Final Words]
            {% endblocktranslate %}
        </p>
        {% endblock %}
    </div>
</div>

{% include 'survey/continue.html' %}
{% include 'survey/leaveSurvey.html' %}
{% endblock %}
