{% extends 'survey/base.html' %}

{% load apptags %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row px-4">
    <div class="col-10">
        <h2>{{ _('Thanks') }}</h2>
        <div class="qrcode"></div>
        {% block finished_survey_description %}
        <p class="text-justify">
            {% blocktranslate trimmed %}
            [Final Words]
            {% endblocktranslate %}
        </p>
        {% endblock %}
        <p class="continue-later-link">
            <button
                class="pl-0 btn btn-link"
                type="button"
                name="continue-later"
                data-toggle="modal"
                data-target="#modal">
                {{ _('Your results link') }}
            </button>
        </p>

    </div>

</div>

{% include 'survey/continue.html' %}
{% include 'survey/leaveSurvey.html' %}
{% endblock %}
