{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/survey-questions.css' %}" />
    <script type="text/javascript" src="{% static 'survey/js/qrcode.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'survey/js/survey-questions.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if user.is_survey_in_progress %}
        <nav class="nav_categories nav nav-fill d-block">
            <div class="row">
                <div class="col-3 d-flex">
                    {% with first_category=questions_categories|slice:":1" %}
                    {% for category in first_category %}
                    <div class="text-center my-auto">
                        <a class="nav-link py-1 d-none h5 mb-0 mt-1 d-lg-inline {% if current_question_category == category.id %}d-inline nav_categories_active{% endif %}" href="#">{% trans category.label %}</a>
                    </div>                         
                    {% endfor %}
                    {% endwith %}
                </div>
                {% with rest_category=questions_categories|slice:"1:" %}
                <div id="conference_nav" class="col-9">
                    <div class="text-center">
                        <h5 class="text-primary font-weight-bold {% for category in rest_category %}{% if current_question_category == category.id %}d-inline nav_categories_active{% endif %}{% endfor %}">Conference</h5>
                    </div>
                    <div class="row">
                        {% for category in rest_category %}
                        <div class="col-4 text-center">
                            <a class="nav-link py-1 d-none h6 mb-0 mt-1 d-lg-inline {% if current_question_category == category.id %}d-inline nav_categories_active{% endif %}" href="#">{% trans category.label %}</a>
                        </div>                          
                        {% endfor %}
                    </div>
                </div>
                {% endwith %}    
            </div>
        </nav>
        <div class="progress mx-2 mt-2" style="height: 15px;">
            <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                style="font-size: 0.9rem; width: {% widthratio current_question_index total_questions_num 100 %}%;"
                aria-valuenow="{% widthratio current_question_index total_questions_num 100 %}"
                aria-valuemin="0"
                aria-valuemax="100">
                {% if custom.show_progress_questions_numbers %}
                {{ current_question_index }} of {{ total_questions_num }}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="m-2 p-3">
        <div class="card-title">
            <span data-bs-toggle="tooltip" title="{{ question_tooltip | safe }}">{{ question | safe }}</span>
        </div>
        <form action="{% url 'question' current_question_index %}" method="post" class="form" id="survey-question-form">
            {% csrf_token %}

            {% bootstrap_form form exclude="feedback" %}

            <p class="select-multi-info text-muted pl-4 small" style="display: none;">
                ** {{ _('Multiple answers are possible.') }}
            </p>

            {% buttons %}
                <div class="form-group pt-4">
                    <div class="d-flex flex-row justify-content-between">
                        {% if user.is_survey_in_progress %}
                            {% if current_question_index > 1 %}
                                <a
                                    class="btn btn-primary return-to-question"
                                    href="{% url 'question' previous_question_index %}"
                                    type="button">
                                    {{ _('Back') }}
                                </a>
                            {% endif %}
                        {% else %}
                            <a
                                class="btn btn-primary"
                                href="{% url 'review'%}#question-{{ current_question_index }}"
                                type="button">
                                {{ _('Cancel') }}
                            </a>
                        {% endif %}
                        <button
                            class="btn btn-light border border-rounded"
                            type="button"
                            name="continue-later"
                            data-toggle="modal"
                            data-target="#modal">
                            {{ _('Continue later') }}
                        </button>
                        <input
                            class="btn btn-primary{% if show_warning_dialog %} modify-question{% endif %}"
                            type="submit"
                            value="{% if user.is_survey_under_review or show_warning_dialog %}{{ _('Modify') }}{% else %}{{ _('Next') }}{% endif %}"
                        >
                    </div>
                </div>
            {% endbuttons %}
        </form>
    </div>

    {% include 'survey/continue.html' %}
    {% include 'survey/leaveSurvey.html' %}
    {% if show_warning_dialog %}
        {% include 'survey/answerChangingWarning.html' %}
    {% endif %}
{% endblock %}
