@page {
    size: A4; /* Change from the default size of A4 */
    margin: 2.5cm 2cm 2cm 2.5cm; /* Set margin on each page */
    padding: 15px 0 15px 0;
    @top-left {
        background-image: var(--tool_logo_url);
        background-repeat: no-repeat;
        content: '';
        background-size: 100%;
        background-position: center bottom;
        margin-bottom: 5px;
        height: 2.5cm;
        width: 25%;
    }
    @top-center {
        background: #404040;
        content: '';
        display: block;
        height: 0.2px;
        opacity: 0.5;
        width: 100%;
    }
    @bottom-left {
        background-image: var(--secin_logo_url);
        background-repeat: no-repeat;
        content: '';
        background-size: 50%;
        background-position: left center;
        margin-bottom: 5px;
        height: 2cm;
        width: 25%;
    }
    @bottom-center {
        background: #404040;
        content: '';
        display: block;
        height: 0.2px;
        opacity: 0.5;
        width: 100%;
    }
    @bottom-right {
        content: counter(page);
        height: 2cm;
        width: 1cm;
        text-align: center;
        font-size: 14px;
    }
}
@page:first {
    @top-left { content: none;}
    @top-center { content: none;}
    @bottom-left { content: none;}
    @bottom-center { content: none;}
    @bottom-right { content: none;}
}

p, li, div {
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}


h1{font-size:26px;}
h2{font-size:24px;}
h3{font-size:22px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}

/* POSITION */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.page-break {
    page-break-before: always
}

/* COVER */

.cover_information {
    display: table-cell;
    width: 100%;
    height: 200px;
    vertical-align: middle;
}
.cover_information ul {
    list-style: none;
    padding-left: 0;
}

/* CHART */

.chart {
    width: 100%;
}

/* LOGOS */

.tool_logo {
    margin-top: 30%;
    width: 80%;
}

.secin_logo {
    width: 30%;
}

.cases_logo {
    width:40%;
    right: 0;
}

/* QUESTIONS */

.question {
    font-weight:bold;
}

.choices {
    font-weight:normal;
    font-size: 14px;
    padding-left: 10px;
}

.answer {
    font-weight:bold;
    list-style-type:disc;
}

/* TOC */

.toc {
    list-style: none;
    padding-left: 0;
}

.toc li {
    border-bottom: .25pt solid #c1c1c1;
    margin: .25cm 0;
    padding-top: .25cm;
}

.toc li a {
    color: inherit;
    text-decoration-line: inherit;
}

.toc li a::before {
    content: target-text(attr(href));
}

.toc li a::after {
    content: target-counter(attr(href), page);
    float: right;
}

.toc li > ul {
    padding-left: 20px;
}

.sub_chapiter {
    list-style: none;
    margin: .1cm 0 !important;
    padding-top: .1cm !important;
}
.sub_chapiter a::before {
    font-size: 14px;
}
