@page {
    size: A4; /* Change from the default size of A4 */
    margin: 2.5cm; /* Set margin on each page */
    @top-left {
        background: url("../../../static/images/logoFull-en.png") no-repeat;
        content: '';
        background-size: 100%;
        background-position: center bottom;
        margin-bottom: 5px;
        height: 2,5cm;
        width: 25%;
    }
    @top-center {
        background: #404040;
        content: '';
        display: block;
        height: 0.2px;
        opacity: .5;
        width: 100%;
    }
    @bottom-left {
        background: url("../images/secin_logo.svg") no-repeat;
        content: '';
        background-size: 60%;
        background-position: left center;
        margin-bottom: 5px;
        height: 1,5cm;
        width: 25%;
    }
    @bottom-center {
        background: #404040;
        content: '';
        display: block;
        height: 0.2px;
        opacity: .5;
        margin-top: 15px;
        width: 100%;
    }
    @bottom-right {
        content: counter(page);
        height: 2,5cm;
        width: 1cm;
        text-align: center;
    }
}
@page:first {
    @top-left { content: none;}
    @top-center { content: none;}
    @bottom-left { content: none;}
    @bottom-center { content: none;}
    @bottom-right { content: none;}
}

p, li, div {
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}


h1{font-size:26px;}
h2{font-size:24px;}
h3{font-size:22px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}

/* POSITION */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.page-break {
    page-break-before: always
}

.footer {
    clear: both;
    position: absolute;
    height: 20px;
    bottom: -70px;
}

/* LOGOS */

.tool_logo {
    margin-top: 30%;
    width: 80%;
}



.secin_logo {
    width: 30%;
}

.cases_logo {
    width:40%;
    right: 0;
}

ul.ba {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
