{% extends 'survey/base.html' %}

{% load apptags %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block bootstrap4_extra_head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/survey-questions.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/chart.css' %}" />

    <script type="text/javascript" src="{% static 'survey/js/qrcode.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'npm_components/chart.js/dist/chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'survey/js/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'survey/js/survey-questions.js' %}"></script>
    <script type="text/javascript" src="{% static 'survey/js/send-email.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row px-4">
    <div class="col-12">
        <h3>{{ _('Thanks for your time and effort!') }}</h3>
        {% block finished_survey_description %}
        <p class="text-justify">
            {% blocktranslate trimmed %}
            Keep in touch with us to receive the results of the study as well as content on the Luxembourg cybersecurity ecosystem by subscribing to our newsletter by <a href="https://newsletter.cybersecurity-luxembourg.com/" target="_blank" rel="noopener noreferrer">clicking here!</a>
            {% endblocktranslate %}
        </p>
        <p>
            {{ _('If you want to assess your level of cybersecurity or privacy, we have created tools that will provide you with tailored recommendations to improve your standards.') }}
            <strong>{{ _('The use of all these self-assessment tools is anonymous and free.') }}</strong>
        </p>
        <ul>
            <li><a href="https://fit4cybersecurity.nc3.lu/" target="_blank">Fit4Cybersecurity</a> - {{ _('A service that includes multiple self-assessment tools. Its main goal is to allow users to quickly assess their information security maturity in different areas that NC3 considers critical.') }}</li>
            <li><a href="https://fit4privacy.nc3.lu/" target="_blank">Fit4Privacy</a> - {{ _('This questionnaire, created in consultation with the National Commission for Data Protection, aims to help organisations assess to what extent they are in control of their personal data risks') }}.</li>
            <li><a href="https://contract.nc3.lu/" target="_blank">Fit4Contract</a> - {{ _('This questionnaire aims to identify the general scope of the contractual relationship considered, in order to set up an acquisition, a lease, development, or any other service in the field of information and communication technologies.') }}</li>
        </ul>
        {% endblock %}
        {% if custom.modules.requestTraining and user.get_country_code == 'LU' and txtscore < custom.minimal_acceptable_score %}
            <p class="text-justify">
                {% blocktranslate with score=string_score|add:'/100' trimmed %}
                Based on your score {{ score }}, the NC3 Diagnostic
                is not available for your organization at this moment.
                We recommend you improve the information security maturity
                level by implementing the recommendations listed below.
                If you need any information security training to
                raise awareness in your company, do not hesitate to
                {% endblocktranslate %}
                {% include 'survey/requestTrainingLink.html' with type='link' %}
            </p>
        {% endif %}
        {% if bonus_score > 0 %}
            <p class="text-justify">
                {% blocktranslate trimmed with bonus=bonus_score %}
                You have scored an additional {{ bonus }} % of bonus points for adherence to best practices.
                {% endblocktranslate %}
            </p>
        {% endif %}

        {% if custom.modules.requestDiagnostic and user.get_country_code == 'LU' and txtscore >= custom.minimal_acceptable_score %}
            {% block finished_survey_diagnostic %}
            <h2>{{ _('About the NC3 Diagnostic') }}:</h2>
            <p class="text-justify">
                {% blocktranslate trimmed %}
                The NC3 Diagnostic is a service which analyses the company maturity
                in the information security depending on company's requirements.
                The analysis duration can take approximately 2 hours.
                A consultant from NC3 will come to your company's premises,
                and ask around 30 questions concerning your information security,
                mostly organizational questions and possibly some technical questions.
                You will receive a detailed report which will contain a maturity estimation
                as well as recommendations to enhance the information security maturity.
                {% endblocktranslate %}
            <p>
            <p class="text-justify">
                {% blocktranslate trimmed %}
                The NC3 Diagnostic is available for all the companies
                located in Luxembourg and free of charge.
                {% endblocktranslate %}
            </p>
            {% endblock %}
        {% endif %}
    </div>
    {% if custom.modules.reportDownload %}
        <div class="col-2 py-4">
            <div class="border rounded border-primary bg-bright-blue">
                <div class="text-center">
                    {% if custom.modules.displayResults %}
                        <h3>
                            {% if txtscore < 50 %}
                                <span class="font-weight-bold text-danger">{{ string_score }}</span>
                            {% elif txtscore < custom.minimal_acceptable_score %}
                                <span class="font-weight-bold text-warning">{{ string_score }}</span>
                            {% else %}
                                <span class="font-weight-bold text-success">{{ string_score }}</span>
                            {% endif %}
                            <span>/100</span>
                        </h3>
                    {% endif %}
                    {% if user.get_country_code == 'LU' %}
                        {% if txtscore >= custom.minimal_acceptable_score and custom.modules.requestDiagnostic %}
                            <div class="px-2 pb-2">
                                {% include 'survey/requestDiagnosticLink.html' with type='button' %}
                            </div>
                        {% endif %}
                        {% if custom.modules.requestTraining %}
                            <div class="px-2">
                                {% include 'survey/requestTrainingLink.html' with type='button' %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <h4 class="px-2">{{ _('Report') }}:</h4>
                <div class="w-50 mx-auto">
                    <img class="img-fluid" src="{% static 'images/reportLogo.png' %}" alt="DOC ICON">
                </div>
                <div class="text-center p-2">
                    <a href="{{ reportlink }}" id="download-report">
                        <button class="btn btn-sm btn-block border border-rounded btn-primary" type="button">
                            {{ _('Download') }}
                        </button>
                    </a>
                    {% if custom.modules.reportEmail %}
                        <button
                            class="btn btn-sm btn-block border border-rounded btn-primary"
                            type="button"
                            name="modal-send-report"
                            data-toggle="modal"
                            data-target="#modal-send-report">
                            {{ _('Email') }}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endif %}
    {% if custom.modules.displayResults %}
        <div class="col-6 py-4">
            <h4 class="text-center">
                {{ _('Score by section') }}
            </h4>
            <canvas id="chartBySections"></canvas>
        </div>
        <div class="col-6 py-4">
            <h4 class="text-center">
                {{ _('Score by category') }}
            </h4>
            <canvas id="chartByCategory"></canvas>
        </div>
        <script>
          var sectionsLabels = {{ sectionsLabels | safe }}
          var sectionsData = {{ sectionsData | safe }}
          var categoriesLabels = {{ categoriesLabels | safe }}
          var categoriesData = {{ categoriesData | safe }}
        </script>
    {% endif %}
    <div class="col-12 py-4">
      {% for category, items in recommendations.items %}
      <h4>{{ category | safe }}</h4>
      <ol>
        {% with False as isSubList %}
          {% for recommendation in items %}
            <li class="text-justify">{{ recommendation | safe }}</li>

            {% if recommendation|slice:"-1:" == ":" %}
              <ul>
              {% update_variable True as isSubList %}
            {% endif %}
              {% if forloop.last and isSubList %}
              </ul>
              {% endif %}

          {% endfor %}
        {% endwith %}
      </ol>
      {% endfor %}
    </div>
    <div class="col-12 py-2 mx-auto text-center">
        <button
            class="btn btn-light border border-rounded"
            type="button"
            name="general-feedback"
            data-toggle="modal"
            data-target="#modal-feedback">
            {{ _('Your feedback') }}
        </button>
    </div>
</div>

<div id="cover-spin"></div>
<div class="modal fade"
    tabindex="-2"
    role="dialog"
    id="modal-feedback"
    aria-labelledby="{{ custom.tool_name }} Feedback"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h4>{{ _('Your feedback') }}</h4>
        </div>
        <div class="modal-content">
            <form action="/survey/feedback" method="POST">
                {% csrf_token %}
                {% bootstrap_form general_feedback_form label_class="d-none" %}
                <div class="content">
                    <button class="close-popup btn btn-link float-left"
                        type="button"
                        data-dismiss="modal">
                        {{ _('Close') }}
                    </button>
                    <input
                        type="submit"
                        class="btn btn-primary float-right"
                        value="{{ _('Send') }}">
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'survey/continue.html' %}
{% include 'survey/leaveSurvey.html' %}
{% include 'survey/sendReportEmail.html' %}

{% endblock %}