{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load apptags %}
{% load static %}
{% load cookiebanner %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-index.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-index.js" %}"></script>
{% endblock %}

{% block content %}
{% cookiebanner_modal 'bootstrap4' %}
    <div class="d-flex flex-row align-items-center px-3">
        <div class="p-2 flex-grow-1 text-justify">
            <p>The Luxembourg House of Cybersecurity (LHoCS) is the cybersecurity agency for the private sector in Luxembourg. We are responsible for supporting the development of the cybersecurity ecosystem in Luxembourg, and for promoting cybersecurity awareness and best practices.</p>
			<br/>
			<p>This survey is part of the market intel observatory of the National Cybersecurity Competence Center (NCC). The NCC is a joint initiative of the LHoCS and the Ministry of the Economy. The observatory collects and analyzes data on the cybersecurity market in Luxembourg, in order to inform policy decisions and support the development of the ecosystem.</p>
			<br/>
			<p>This survey is directed to providers of cybersecurity services and solutions in Luxembourg. Your participation is important to help us understand the current state of the market and the needs of businesses and organizations</p>
			<br/>
        </div>
    </div>
		<div class="p-2 row">
			<ul class="list-unstyled mx-auto">
				<strong>
					<li>
						<i class="bi bi-arrow-right">{{ _('The results of the survey are anonymous.') }}</i>
					</li>
					<li>
						<i class="bi bi-arrow-right">{{ _('Your responses will be used only for statistical purposes.') }}</i>
					</li>
				</strong>
			</ul>
		</div>
    </div>

    <div class="col px-2 py-4 text-center">
        <a href="/survey/start">
            <button class="btn border border-rounded btn-primary" type="button">
                {{ _('Start') }}
            </button>
        </a>
    </div>

    <div class="row py-3">
        <div class="col">
            <button class="btn btn-link" type="button" name="resume-show-popup" data-toggle="modal" data-target="#modal" data-tooltip>
                {{ _('Continue a previous survey') }}
            </button>
        </div>
    </div>

    {% include 'survey/resume.html' %}
{% endblock %}
