{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load static %}
{% load apptags %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "audit/css/audit.css" %}" />
    <script type="text/javascript" src="{% static "audit/js/audit.js" %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row p-2">
        <h3 class="col-12">{{ _('Title Audit') }}</h3>
        <div class="row col-12">
            <p class="col-10 pt-2 ">
                {{ _('Explanation of the audit request')}}
            </p>
        </div>

        <div class="col-12">
            <table class="table table-hover">
                <thead>
                  <tr class="d-flex">
                    <th class="col-3">{{ _('Question') }}</th>
                    <th class="col-3">{{ _('Answer(s)') }}</th>
                    <th class="col-3">{{ _('Reference / context') }}</th>
                    <th class="col-2">{{ _('Auditor observations') }}</th>
                    <th class="col-1">{{ _('Status') }}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for question_index, audit_question in audit_questions.items %}
                    {% if question_index != 0  %}
                        <tr class="d-flex">
                            <td class="col-3">
                                <span class="font-weight-bold">{{ question_index }}. </span>
                                {{ audit_question.question | safe }}
                            </td>
                            <td class="col-3">
                            {% for answer in audit_question.answer %}
                                <span>{{ answer.answer__label | safe }}</span></br>
                            {% endfor %}
                            </td>

                            <td class="col-3 p-0">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form audit_question.referenceForm show_label=False form_group_class="w-100 h-100" %}
                                </form>
                            </td>
                            <td class="col-2 p-0">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form audit_question.observationForm show_label=False form_group_class="w-100 h-100" %}
                                </form>                                
                            </td>
                            <td class="col-1 p-0 align-middle">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form audit_question.statusForm show_label=False form_group_class="w-100 h-100" %}
                                </form>      
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>

    {% include 'survey/leaveSurvey.html' %}
{% endblock %}