{% extends 'survey/base.html' %}

{% load bootstrap4 %}
{% load apptags %}
{% load static %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-index.css" %}" />
    <script type="text/javascript" src="{% static "survey/js/survey-index.js" %}"></script>
    <script type="text/javascript" src="{% static "audit/js/audit.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row align-items-center px-3">
        <div class="p-2 flex-grow-1 text-justify">
            <h5>
                {% block index_welcome_message %}
                {{ _('Welcome to the Audit Module') }} {{ custom.tool_name }}.
                {% endblock %}
            </h5>
        </div>
    </div>

    <div class="col-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">{{ _('Product name') }}</th>
                <th scope="col">{{ _('Product reference') }}</th>
                <th scope="col">{{ _('Audit company') }}</th>
                <th scope="col">{{ _('Status') }}</th>
              </tr>
            </thead>
            <tbody>
                {% for audit in audits %}
                <tr class="go-to-audit" data-go-to-audit="{{ audit.audit.id }}">
                    <td>{{ audit.audit.product_name | safe }}</td>
                    <td>{{ audit.audit.product_ref | safe }}</td>
                    <td>{{ audit.company.audit_company.name | safe }}</td>
                    <td></td>
                  </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> 
{% endblock %}
