.modal-content {
    width: 740px;
    height: 220px;
    padding: 15px;
}

.modal-header {
    background-color: #337AB7;
    padding: 16px;
    color: #FFF;
    width: 740px;
    border-bottom: 1px dashed #337AB7;
 }

#modal textarea {
    width: 680px;
    height: 30px;
    resize: none;
}

.input-no-border {
    border: none;
    padding-left: 3px;
    width: 337px;
}
.text-info span {
    display: block;
}