.modal-content {
    width: 540px;
    height: 100px;
    padding: 15px;
}

.modal-header {
    background-color: #337AB7;
    padding: 16px;
    color: #FFF;
    width: 540px;
    border-bottom: 1px dashed #337AB7;
 }