.modal-content {
    width: 740px;
    height: 221px;
    padding: 15px;
}

.modal-header {
    background-color: #337AB7;
    padding: 16px 16px;
    color: #FFF;
    width: 740px;
    border-bottom: 1px dashed #337AB7;
 }

#modal textarea {
    width: 680px;
    height: 30px;
    resize: none;
}