{% load static %}
<div class="d-flex justify-content-between">
    <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">

            <a class="nav-link" href="https://www.cases.lu" target="_blank">
                <img class="img-fluid" src="{% static 'images/logo-CASES.png' %}" width="32px"
                title="{{ _('A service provided by CASES.LU') }}"
                alt="{{ _('A service provided by CASES.LU') }}" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/CASES-LU/Fit4Cybersecurity/tree/fit4ilr" target="_blank">
                <img class="img-fluid" src="{% static 'images/github-9-512.png' %}" width="32px"
                title="{{ _('Source code on GitHub') }}"
                alt="{{ _('Source code on GitHub') }}" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ version_url }}" title="{{ _('Version of') }} {{ custom.tool_name }}" alt="{{ _('Version of') }} {{ custom.tool_name }}" target="_blank">
                {{ app_version }}
            </a>
        </li>
    </ul>
    <ul class="nav flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link" href="/terms" title="{{ _('Terms of service') }}" alt="{{ _('Terms of Service') }}">Terms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://securitymadein.lu" target="_blank">Copyright © 2019-{% now "Y" %} - SECURITYMADEIN.LU</a>
        </li>
    </ul>
</div>