{% load i18n %}
  <h1>{{ _('Politique de confidentialité et gestion des cookies') }}</h1>
  <ul>
  <li><a href="#cookies">{{ _('Gestion des cookies') }}</a></li>
  <li><a href="#privacy">{{ _('Information concernant le traitement de données à caractère personnel') }}</a></li>
  </ul>
  <h2><a id="cookies">{{ _('Gestion des cookies') }}</a></h2>
  <p class="text-justify">
    {% blocktranslate trimmed %}
    Un cookie est un fichier texte envoyé à votre navigateur et enregistré sur le disque dur de votre terminal (PC, ordinateur portable ou smartphone, par exemple) lors de la visite d'un site internet.
    <br><br>
    Les cookies peuvent par exemple être utilisés afin d'assurer le bon fonctionnement d'un site et d'optimiser son ergonomie et ses fonctionnalités.
    <br><br>
    Les cookies que nous utilisons sur ce site sont strictement nécessaires afin d'assurer son bon fonctionnement et pour vous permettre de compléter le formulaire en ligne, à savoir :
    {% endblocktranslate %}
  </p>
  {% for cookiegroup in groups %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ _('Name') }}</th>
          <th scope="col">{{ _('Description') }}</th>
          <th scope="col">{{ _('Content') }}</th>
          <th scope="col">{{ _('Max age') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for cookie in cookiegroup.cookies %}
        <tr class="text-justify small">
          <td>{{ cookie.pattern }}</td>
          <td>{{ cookie.description }}</td>
          <td>{{ cookie.content }}</td>
          <td>{{ cookie.max_age }}</td>                     
          {% endfor %}
        </tr>
      </tbody>
    </table>
  {% endfor %}
  <h2><a id="privacy">{{ _('Information concernant le traitement de données à caractère personnel') }}</a></h2>
  <p class="text-justify">
    {% blocktranslate trimmed %}
    Le présent questionnaire est anonyme et ne nécessite pas la collecte de données à caractère personnel auprès des personnes amenées à y répondre. 
    <br><br>
    Les utilisateurs sont invités à répondre au présent questionnaire en veillant à ne pas communiquer, dans les champs libres de celui-ci, toute information permettant d'identifier une personne physique (ex. : nom, prénom, coordonnées, etc.). Pour le cas où des données à caractère personnel seraient toutefois renseignées par erreur dans les champs libres du questionnaire en ligne, celles-ci seront supprimées. 
    <br><br>
    Les réponses au questionnaire en ligne seront accessibles uniquement par le Commissaire et les agents de la CNPD ainsi que par les agents de la LHC-NC3 dédiés au projet ALTO, afin d'assurer l'analyse des réponses données et le bon fonctionnement technique. 
    <br><br>
    Pour toute question concernant les traitements de données à caractère personnel effectués par la CNPD, vous pouvez contacter le délégué à la protection des données (DPO) de la CNPD : <a href="mailto:dpo@cnpd.lu">dpo@cnpd.lu</a>
    {% endblocktranslate %}
  </p>



