{% load apptags %}
<h1>Terms of Service</h1>
<p>These terms govern use of the website
<a href="{% settings_value 'PUBLIC_URL' %}">{% settings_value "PUBLIC_URL" %}</a> ("the website").
 To use the website, you must agree to these terms with {% settings_value 'OPERATOR_NAME' %}, the company that runs the website.</p>
<p><a href="{% settings_value 'OPERATOR_WEBSITE' %}">{% settings_value "OPERATOR_NAME" %}</a> may offer other products and services, under different terms. These terms apply only to use of the website.</p>
<p>Skip to:</p>
<ul>
<li><a href="#permission">Your Permission to Use the Website</a></li>
<li><a href="#conditions">Conditions for Use of the Website</a></li>
<li><a href="#acceptable-use">Acceptable Use</a></li>
<li><a href="#content-standards">Content Standards</a></li>
<li><a href="#your-content">Your Content</a></li>
<li><a href="#feedback">Feedback</a></li>
<li><a href="#disputes">Disputes</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="#changes">Changes</a></li>
</ul>
<h2><a id="permission">Your Permission to Use the Website</a></h2>
<p>Subject to these terms, {% settings_value 'OPERATOR_NAME' %} gives you permission to use the website. You can't transfer it to anyone else. Others need to agree to these terms for themselves to use the website.</p>
<h2><a id="conditions">Conditions for Use of the Website</a></h2>
<p>Your permission to use the website is subject to the following conditions:</p>
<ol>
<li>
<p>You may no longer use the website if {% settings_value 'OPERATOR_NAME' %} contacts you directly to say that you may not.</p>
</li>
<li>
<p>You must use the website in accordance with <a href="#acceptable-use">Acceptable Use</a> and <a href="#content-standards">Content Standards</a>.</p>
</li>
</ol>
<h2><a id="acceptable-use">Acceptable Use</a></h2>
<ol>
<li>
<p>You may not break the law using the website.</p>
</li>
<li>
<p>If applicable, you may not use or try to use another's account on the website without their specific permission.</p>
</li>
<li>
<p>If applicable, you may not buy, sell, or otherwise trade in user names or other unique identifiers on the website.</p>
</li>
<li>
<p>You may not send advertisements, chain letters, or other solicitations through the website, or use the website to gather addresses for commercial mailing lists.</p>
</li>
<li>
<p>You may not automate access to the website, or monitor the website, such as with a web crawler, browser plug-in or add-on, or other computer program that is not a web browser. You may crawl the website to index it for a publicly available search engine.</p>
</li>
<li>
<p>You may not use the website to send e-mail to distribution lists, newsgroups, or group mail aliases.</p>
</li>
<li>
<p>You may not falsely imply that you're affiliated with or endorsed by {% settings_value 'OPERATOR_NAME' %}.</p>
</li>
<li>
<p>You may not hyperlink to images or other non-hypertext content on the website.</p>
</li>
<li>
<p>You may not remove any marks showing proprietary ownership from materials you download from the website.</p>
</li>
<li>
<p>You may not show any part of the website on other websites with <code>&lt;iframe&gt;</code>.</p>
</li>
<li>
<p>You may not disable, avoid, or circumvent any security or access restrictions of the website.</p>
</li>
<li>
<p>You may not strain infrastructure of the website with an unreasonable volume of requests, or requests designed to impose an unreasonable load on information systems underlying the website.</p>
</li>
<li>
<p>You may not encourage or help anyone in violation of these terms.</p>
</li>
<li>
<p>You may not impersonate others through the website.</p>
</li>
</ol>
<h2><a id="content-standards">Content Standards</a></h2>
<ol>
<li>
<p>You may not submit content to the website that is illegal, offensive, or otherwise harmful to others. This includes content that is harassing, inappropriate, or abusive.</p>
</li>
<li>
<p>You may not submit content to the website that violates the law, infringes anyone's intellectual property rights, violates anyone's privacy, or breaches agreements you have with others.</p>
</li>
<li>
<p>You may not submit content to the website containing malicious computer code, such as computer viruses or spyware.</p>
</li>
</ol>
<h2><a id="your-content">Your Content</a></h2>
<p>Nothing in these terms gives the company any ownership rights in intellectual property that you share with the website. Nothing in these terms gives you any ownership rights in the company's intellectual property, either.</p>
<p>It should also be noted that the information you have provided will be recorded in an anonimyzed form for <b>statistical reasons</b>.</p>
<p>Between you and the company, you remain solely responsible for content you submit to the website. You agree not to wrongly imply that content you submit to the website is sponsored or approved by {% settings_value 'OPERATOR_NAME' %}.</p>
<p>These terms do not obligate {% settings_value 'OPERATOR_NAME' %} to store, maintain, or provide copies of content you submit.</p>
<h2><a id="feedback">Feedback</a></h2>
<p>{% settings_value 'OPERATOR_NAME' %} welcomes your feedback and suggestions for the website. See the <a href="#contact">Contact</a> section below for ways to get in touch with us.</p>
<p>You agree that {% settings_value 'OPERATOR_NAME' %} will be free to act on feedback and suggestions you provide, and that {% settings_value 'OPERATOR_NAME' %} won't have to notify you that your feedback was used, get your permission to use it, or pay you.</p>
<p>You agree not to submit feedback or suggestions that you believe might be confidential or proprietary, to you or others.</p>
<h2><a id="disputes">Disputes</a></h2>
<p>Luxembourg law will govern any dispute, including any legal proceedings, related to these terms or your use of the website. The Parties submit to the exclusive jurisdiction of the competent courts of the judicial district of Luxembourg-City (including non-contractual claims and disputes).</p>
<h2><a id="contact">Contact</a></h2>
<p>You may notify {% settings_value 'OPERATOR_NAME' %} under these terms, and send questions to the company, at <a href="mailto:{% settings_value 'OPERATOR_EMAIL' %}">{% settings_value 'OPERATOR_EMAIL' %}</a>.</p>
<P>If applicable, {% settings_value 'OPERATOR_NAME' %} may notify you under these terms using the e-mail address you provide for your account on the website, or by posting a message to the homepage of the website or your account page.</p>
<h2><a id="changes">Changes</a></h2>
<ul>
  <li>April 4, 2022. <a href="https://github.com/NC3-LU/Fit4Cybersecurity/commit/62530c1db318cdeb1a0e3e5bfb457bbf8436b5ce" rel="noopener noreferrer" target="_blank">Removed section "Limits on Liability"</a>.</li>
  <li>March 23, 2023. <a href="https://github.com/NC3-LU/Fit4Cybersecurity/commit/edac08432781932f573d35b785a619a2014672b7" rel="noopener noreferrer" target="_blank">Removed several sections</a>.</li>
</ul>
<p>{% settings_value 'OPERATOR_NAME' %} last updated these terms on March 23, 2023, and may update these terms again. {% settings_value 'OPERATOR_NAME' %} will post all updates to the website.</p>
<p>{% settings_value 'OPERATOR_NAME' %} may also announce updates with special messages or alerts on the website.</p>
